<h2>{{lang_userlist}}</h2>

{{{pagenav}}}

<form method="post">
	<input type="hidden" name="action" value="deleteuser">
	<input type="hidden" name="token" value="{{token}}">
	<table class="table stupidtable">
		<thead>
		<tr>
			<th data-sort="int" class="slx-smallcol">{{lang_userIdCol}}</th>
			<th data-sort="string">{{lang_login}}</th>
			<th data-sort="string">{{lang_name}}</th>
			<th data-sort="string">{{lang_phone}}</th>
			<th data-sort="string">{{lang_email}}</th>
			<th width="1"></th>
		</tr>
		</thead>
		<tbody>
		{{#list}}
			<tr>
				<td class="text-right {{userClass}}">{{userid}}</td>
				<td id="user-{{userid}}" class="{{userClass}}">{{login}}</td>
				<td>{{fullname}}</td>
				<td>{{phone}}</td>
				<td>{{email}}</td>
				<td class="text-nowrap">
					<a class="btn btn-primary btn-xs" {{perms.user.edit.disabled}} href="?do=adduser&amp;show=edituser&amp;userid={{userid}}">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					{{^hide_delete}}
					<button type="submit" {{perms.user.remove.disabled}} name="userid" value="{{userid}}" class="btn btn-danger btn-xs"
							data-confirm="#confirm-delete" data-title="{{fullname}} ({{login}})">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					{{/hide_delete}}
				</td>
			</tr>
		{{/list}}
		</tbody>
	</table>
	<div class="text-right">
		<a class="btn btn-success {{perms.user.add.disabled}}" href="?do=adduser&amp;show=adduser">
			<span class="glyphicon glyphicon-plus"></span>
			{{lang_addUser}}
		</a>
	</div>
</form>
<div class="hidden" id="confirm-delete">{{lang_userDeleteConfirm}}</div>