<h3>{{lang_assignRoles}}</h3>

<table class="table table-condensed table-hover">
	<thead>
	<tr>
		<th data-sort="string">{{lang_role}}</th>
		<th class="text-center slx-smallcol"></th>
	</tr>
	</thead>

	<tbody>
	{{#roles}}
		<tr>
			<td class="rolename">{{rolename}}</td>
			<td class="text-center">
				<div class="checkbox">
					<input type="checkbox" name="roles[]" value="{{roleid}}" {{#hasRole}}checked{{/hasRole}}>
					<label></label>
				</div>
			</td>
		</tr>
	{{/roles}}
	</tbody>
</table>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-8">
		<button class="btn btn-lg btn-primary btn-block save-btn" type="submit">
			<span class="glyphicon glyphicon-floppy-disk"></span>
			{{lang_save}}
		</button>
	</div>
</div>