<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_langAdministration}}
		</div>
		<div class="panel-body">
			<p>{{lang_adminInfo}}</p>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="?do=Translation&amp;page=templates">{{lang_editTemplates}}</a></li>
				<li><a href="?do=Translation&amp;page=messages">{{lang_editMessages}}</a></li>
				<li><a href="?do=Translation&amp;page=hardcoded">{{lang_editHardcoded}}</a></li>
				<li><a href="?do=Translation&amp;page=settings">{{lang_editSettings}}</a></li>
			</ul>
		</div>
	</div>
</div>
