<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{template}}
		</div>
		<div class="panel-body">
			<p>{{lang_templateAdminHelp}}</p>
			<div class="alert alert-info">
				{{lang_templateHint}}
			</div>
			<form action="?do=Translation" method="post">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Mustache Tag</th>
							{{#langs}}
							<th>{{lang}}</th>
							{{/langs}}
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#tags}}
							<tr class="{{class}}" id="{{tag}}">
								<td>{{tag}}</td>
								{{#langs}}
								<td style="text-align:center">
									<input type="text" class="form-control" placeholder="{{placeholder}}" value="{{translation}}" name="lang#{{lang}}#{{tag}}">
								</td>
								{{/langs}}
								<td style="text-align:center">
									<a class="btn btn-danger btn-xs" href="?do=Translation&template={{template}}&delete={{tag}}"><span class="glyphicon glyphicon-remove"></span> {{lang_deleteTAG}}</a>
								</td>
							</tr>
						{{/tags}}
						<tr id="newTag">
						</tr>
					</tbody>
				</table>
				<a class="btn btn-primary" href='?do=Translation' >{{lang_back}}</a>
				<button class="btn btn-primary" type="button" onclick="addTag()" >{{lang_createTag}}</button> 
				<input type="hidden" name="update" value="true">
				<input type="hidden" name="path" value="{{template}}">
				<input type="hidden" name="token" value="{{token}}">
				<input type="submit" class="btn btn-primary" value="{{lang_save}}">
			</form>
		</div>
	</div>
</div>
<script>
function addTag(){
	var target = document.getElementById('newTag');
	target.innerHTML = "<td> <input type='text' class='form-control' placeholder='{{lang_newTAG}}' name='newtag'> </td> <td style='width:250px;text-align:center;'> <input type='text' class='form-control' placeholder='{{lang_germanTAG}}' name='lang#de#newtag'> </td> <td style='width:250px;text-align:center;'> <input type='text' class='form-control' placeholder='{{lang_englishTAG}}' name='lang#en#newtag'> </td>	<td style='width:250px;text-align:center;'> <input type='text' class='form-control' placeholder='{{lang_portugueseTAG}}' name='lang#pt#newtag'> </td><td></td>";
}
</script>
