<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_vmLocationConfiguration}}
		</div>

		<div class="panel-body">
			<div data-tm-id="{{task}}" data-tm-log="messages" data-tm-callback="mountCb">{{lang_configure}}</div>

			<br>
			<div id="finish" class="pull-right" style="display:none">
				<a href="?do=VmStore" class="btn btn-primary">{{lang_back}}</a>
			</div>
			<script type="text/javascript">
				function mountCb(task)
				{
					if (!task || !task.statusCode)
						return;
					if (task.statusCode !== 'TASK_WAITING' && task.statusCode !== 'TASK_PROCESSING') {
						$('#finish').attr('style', '');
					}
				}
			</script>

		</div>
	</div>
</div>
