<h2>
	{{#new}}{{lang_createPanel}}{{/new}}
	{{^new}}{{lang_editPanel}}{{/new}}
</h2>

<p>{{lang_editUrlPanelHints}}</p>

<form method="post" action="?do=locationinfo" id="config-form">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="writePanelConfig">
	<input type="hidden" name="ptype" value="URL">
	<input type="hidden" name="uuid" value="{{uuid}}">

	<div class="panel panel-default">
		<div class="panel-heading">{{lang_display}}</div>
		<div class="panel-body">
			<div class="list-group">

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="panel-title">{{lang_displayName}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" name="name" id="panel-title" type="text" value="{{panelname}}">
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_displayNameTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="panel-url">{{lang_url}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" name="url" id="panel-url" type="text" value="{{url}}"
									 placeholder="http://www.bwlehrpool.de/" pattern=".*://.*" required>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_urlTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="input-ssl">{{lang_insecureSsl}}</label>
						</div>
						<div class="col-sm-7">
							<div class="checkbox">
								<input id="input-ssl" type="checkbox" name="insecure-ssl" {{ssl_checked}} value="1">
								<label></label>
							</div>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_ignoreSslTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="input-reload">{{lang_reloadIntervalMins}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" id="input-reload" type="number" min="0" max="999" name="reloadminutes" pattern="\d*" value="{{reloadminutes}}">
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_reloadIntervalTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<div class="radio">
								<input type="radio" name="iswhitelist" value="1" {{iswhitelist_1_checked}} id="iswhitelist1" class="form-control">
								<label for="iswhitelist1">
									{{lang_urlWhitelist}}
								</label>
							</div>
							<div class="radio">
								<input type="radio" name="iswhitelist" value="0" {{iswhitelist_0_checked}} id="iswhitelist0" class="form-control">
								<label for="iswhitelist0">
									{{lang_urlBlacklist}}
								</label>
							</div>
						</div>
						<div class="col-sm-7">
							<textarea name="urllist" rows="10" class="form-control">{{urllist}}</textarea>
							<p>{{lang_urlListHelp}}</p>
						</div>
						<div class="col-sm-2"></div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="split-login">{{lang_splitlogin}}</label>
						</div>
						<div class="col-sm-7">
							<div class="checkbox">
								<input id="split-login" type="checkbox" name="split-login" {{split-login_checked}} value="1">
								<label></label>
							</div>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_splitloginTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="browser">{{lang_browser}}</label>
						</div>
						<div class="col-sm-7">
							<select class="form-control" name="browser" id="browser" onchange="browserChange()">
								<option value="slx-browser" id="slx">{{lang_slxbrowser}}</option>
								<option value="chromium" id="chrome">{{lang_chromium}}</option>
							</select>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_browserTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item b0-h">
					<div class="row">
						<div class="col-sm-3">
							<label for="interactive">{{lang_interactive}}</label>
						</div>
						<div class="col-sm-7">
							<div class="checkbox">
								<input id="interactive" type="checkbox" name="interactive" {{interactive_checked}} value="1">
								<label></label>
							</div>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_interactiveTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item" id="bookmarks">
					<div class="row" id="bookmark0">
						<div class="col-sm-3">
							<label for="bookmarks">{{lang_bookmarks}}</label>
						</div>
						<div class="col-sm-3">
							<input class="form-control" name="bookmarkNames[]" type="text" value=""
									 placeholder="bwLehrpool" required>
						</div>
						<div class="col-sm-3">
							<input class="form-control" name="bookmarkUrls[]" type="text" value=""
									 placeholder="http://www.bwlehrpool.de/" pattern=".*://.*" required>
						</div>
						<div class="col-sm-1">
							<button type="button" class="btn btn-success" onclick="addBookmark()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_bookmarksTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="text-right">
		<a href="?do=locationinfo&amp;show=panels" class="btn btn-default">{{lang_cancel}}</a>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-floppy-disk"></span>
			{{lang_save}}
		</button>
	</div>
</form>

<script type="text/javascript"><!--

var bookmarkCount = 0;

document.addEventListener("DOMContentLoaded", function () {
	// Initialize fancy tooltips
	$('p.helptext').tooltip();
	// load value to dropdown menus
	$('#browser option[value="{{browser}}"]').attr("selected", "selected");
	browserChange();
	// load bookmark fields
	getBookmarks();
});

// Hide interactive-input if slx-browser is selected
function browserChange() {
	var value = $('#browser').val();
	if (value !== 'slx-browser') {
		$('.b0-h').show();
	} else {
		$('.b0-h').hide();
		$('#interactive').prop('checked', false);
	}
}

// Add another bookmark input field to the form
function addBookmark() {
	bookmarkCount += 1;
	$('#bookmarks').append('<div style="margin-top: 1em;" class="row" id="bookmark' + bookmarkCount + '">' +
		'<div class="col-sm-3 col-sm-offset-3">' +
		'<input class="form-control" name="bookmarkNames[]" type="text" value="" placeholder="bwLehrpool" required>' +
		'</div>' +
		'<div class="col-sm-3">' +
		'<input class="form-control" name="bookmarkUrls[]" type="text" value="" placeholder="http://www.bwlehrpool.de/" pattern=".*://.*" required>' +
		'</div>' +
		'<div class="col-sm-1">' +
		'<button type="button" class="btn btn-danger" onclick="deleteBookmark(' + bookmarkCount + ')">' +
		'<span class="glyphicon glyphicon-minus"></span>' +
		'</button>' +
		'</div>' +
		'</div>');
}

// Remove the corresponding bookmark
function deleteBookmark(num) {
	$('#bookmark' + num).remove();
	bookmarkCount -= 1;
}

// Load bookmarks from database and add to form
function getBookmarks() {
	var bookmarks = "{{bookmarks}}".split(" ");
	if (bookmarks[0] === "") return;
	for (var i = 0; i < bookmarks.length; i++) {
		var bookmark = bookmarks[i].split(',');
		var name = decodeURIComponent(bookmark[0]);
		var url = decodeURIComponent(bookmark[1]);
		if (i !== 0) addBookmark();
		var bookmarkJquery = $('#bookmark' + bookmarkCount);
		bookmarkJquery.find("input[name='bookmarkNames[]']").val(name);
		bookmarkJquery.find("input[name='bookmarkUrls[]']").val(url);
	}
}

//--></script>
