<h2>
	{{#new}}{{lang_createPanel}}{{/new}}
	{{^new}}{{lang_editPanel}}{{/new}}
</h2>

<p>{{lang_editUrlPanelHints}}</p>

<form method="post" action="?do=locationinfo" id="config-form">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="writePanelConfig">
	<input type="hidden" name="ptype" value="URL">
	<input type="hidden" name="uuid" value="{{uuid}}">

	<div class="panel panel-default">
		<div class="panel-heading">{{lang_display}}</div>
		<div class="panel-body">
			<div class="list-group">

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="panel-title">{{lang_displayName}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" name="name" id="panel-title" type="text" value="{{panelname}}">
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_displayNameTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="panel-url">{{lang_url}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" name="url" id="panel-url" type="text" value="{{url}}"
									 placeholder="http://www.bwlehrpool.de/" pattern=".*://.*" required>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_urlTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="input-ssl">{{lang_insecureSsl}}</label>
						</div>
						<div class="col-sm-7">
							<div class="checkbox">
								<input id="input-ssl" type="checkbox" name="insecure-ssl" {{ssl_checked}} value="1">
								<label></label>
							</div>
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_ignoreSslTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row">
						<div class="col-sm-3">
							<label for="input-reload">{{lang_reloadIntervalMins}}</label>
						</div>
						<div class="col-sm-7">
							<input class="form-control" id="input-reload" type="number" min="0" max="999" name="reloadminutes" pattern="\d*" value="{{reloadminutes}}">
						</div>
						<div class="col-sm-2">
							<p class="btn btn-static helptext" title="{{lang_reloadIntervalTooltip}}">
								<span class="glyphicon glyphicon-question-sign"></span>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="text-right">
		<a href="?do=locationinfo&amp;show=panels" class="btn btn-default">{{lang_cancel}}</a>
		<button type="submit" class="btn btn-primary">{{lang_save}}</button>
	</div>
</form>

<script type="text/javascript"><!--

document.addEventListener("DOMContentLoaded", function () {
	// Initialize fancy tooltips
        $('p.helptext').tooltip();

});

//--></script>
