<div class="panel panel-default">
	<div class="panel-heading">{{lang_general}}</div>
	<div class="panel-body">
		<div class="list-group">
			<div class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<label>{{lang_entryName}}</label>
					</div>
					<div class="col-md-7">
						<input required class="form-control" name="name" type="text" value="{{name}}" id="name-input"
								 form="form-{{currentbackend}}">
					</div>
					<div class="col-md-2">
						<a class="btn btn-default" title="{{lang_nameTooltip}}">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<label>{{lang_serverType}}</label>
					</div>
					<div class="col-md-7">
						<select class="form-control" onchange="servertype_changed(this.value)">
							{{#backendList}}
								<option value="{{backendtype}}" {{#active}}selected{{/active}}>{{display}}</option>
							{{/backendList}}
						</select>
					</div>
					<div class="col-md-2">
						<a class="btn btn-default" id="help-type" title="{{lang_typeTooltip}}">
							<span class="glyphicon glyphicon-question-sign"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{#backendList}}
<div id="formwrapper-{{backendtype}}" {{^active}}class="collapse"{{/active}}>
	<form method="post" action="?do=locationinfo" id="form-{{backendtype}}">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="action" value="updateServerSettings">
		<input type="hidden" name="id" value="{{id}}">
		<input type="hidden" name="type" value="{{backendtype}}">


		<div class="panel panel-default">
			<div class="panel-heading">{{lang_credentials}}</div>
			<div class="panel-body">
				<div class="list-group">
					{{#credentials}}
					{{{credentialsHtml}}}
					{{/credentials}}
				</div>
			</div>
		</div>
	</form>
</div>
{{/backendList}}
<script type="text/javascript">
	var currentBackend = "{{currentbackend}}";

	/**
	 * Show proper form after switching backend type
	 *
	 * @param {string} value The new currentBackend of the server which credentials needs to be loaded.
	 */
	function servertype_changed(value) {
		if (value === currentBackend)
			return;
		var newBackend = value;
		console.log('From ' + currentBackend + ' to ' + value);
		$('#formwrapper-' + currentBackend).fadeOut('fast', function() {
			console.log('Fading in ' + newBackend);
			$('#formwrapper-' + newBackend).fadeIn('fast');
			$('#myModalSubmitButton, #name-input').attr('form', 'form-' + newBackend);
		});
		currentBackend = value;
	}

	$('a.btn[title]').tooltip();
	$('#myModalSubmitButton').attr('form', 'form-' + currentBackend);
	$('.settings-bs-switch').bootstrapSwitch({size:'small'});

</script>
