.table {
    margin-top: 20px;
}

.scrollingTable {
    height: 500px;
    overflow: auto;
}

/* vcenter .label in table cell */
td > .label {
    display: inline-block;
    margin: 2px 0;
}

/* lists in tree view: hide bullet points, first entry bold, ... */
.tree-container ul {
    list-style-type: none;
}

.tree-container > ul {
    display: inline-block;
    width: 100%;
    padding: 0;
}

.tree-container > ul > li > div > label {
    font-weight: bold;
}

/* number of columns in tree view depending on screen size */
.tree-container {
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .tree-container {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .tree-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
