<?php

// This might leak sensitive information. Never enable in production!
define('CONFIG_DEBUG', false);

define('CONFIG_SESSION_DIR', '/tmp/openslx');
define('CONFIG_SESSION_TIMEOUT', 86400 * 3);

// Put your mysql credentials here
define('CONFIG_SQL_DSN', 'mysql:dbname=openslx;host=localhost');
define('CONFIG_SQL_USER', 'openslx');
define('CONFIG_SQL_PASS', '%MYSQL_OPENSLX_PASS%');
// Set this to true if you mysql server doesn't default to UTF-8 on new connections
define('CONFIG_SQL_FORCE_UTF8', true);

define('CONFIG_TGZ_LIST_DIR', '/opt/openslx/configs');

define('CONFIG_REMOTE_ML',  'https://bwlp-masterserver.ruf.uni-freiburg.de/minilinux/sat_02');

define('CONFIG_TFTP_DIR', '/srv/openslx/tftp');
define('CONFIG_HTTP_DIR', '/srv/openslx/www/boot');

define('CONFIG_IPXE_DIR', '/opt/openslx/ipxe');

define('CONFIG_VMSTORE_DIR', '/srv/openslx/nfs');

define('CONFIG_PROXY_CONF', '/opt/openslx/proxy/config');

/* for the dozmod API proxy cache */ 
define('CONFIG_DOZMOD_URL', 'http://127.0.0.1:9080');
define('CONFIG_DOZMOD_EXPIRE', 60);

// Sort order for menu - optional, if missing, order will be alphabetically
$MENU_CAT_SORT_ORDER = array('main.content' => 0, 'main.settings-client' => 1, 'main.settings-server' => 2, 'main.status' => 3, 'main.users' => 4);
$MENU_SETTING_SORT_ORDER = array(
	'news' => 0, 'sysconfig' => 1, 'baseconfig' => 2, 'locations' => 3, // main.content
	'serversetup' => 0, 'internetaccess' => 1, 'vmstore' => 2, 'webinterface' => 3, 'backup' => 4, // main.settings
	'systemstatus' => 0, 'eventlog' => 1, 'syslog' => 2, 'statistics' => 3 // main.status
);
