<?php

// This might leak sensitive information. Never enable in production!
define('CONFIG_DEBUG', false);

define('CONFIG_SESSION_DIR', '/tmp/openslx');
define('CONFIG_SESSION_TIMEOUT', 86400 * 3);

// Put your mysql credentials here
define('CONFIG_SQL_DSN', 'mysql:dbname=openslx;host=localhost');
define('CONFIG_SQL_USER', 'openslx');
define('CONFIG_SQL_PASS', '%MYSQL_OPENSLX_PASS%');
// Set this to true if you mysql server doesn't default to UTF-8 on new connections
define('CONFIG_SQL_FORCE_UTF8', true);

define('CONFIG_TGZ_LIST_DIR', '/opt/openslx/configs');

define('CONFIG_TFTP_DIR', '/srv/openslx/tftp');
define('CONFIG_HTTP_DIR', '/srv/openslx/www/boot');

define('CONFIG_IPXE_DIR', '/opt/openslx/ipxe');

define('CONFIG_VMSTORE_DIR', '/srv/openslx/nfs');

define('CONFIG_PROXY_CONF', '/opt/openslx/proxy/config');

/* for the dozmod API proxy cache */ 
define('CONFIG_DOZMOD_URL', 'http://127.0.0.1:9080');
define('CONFIG_DOZMOD_EXPIRE', 60);

define('CONFIG_REPORTING_URL', 'https://bwlp-masterserver.ruf.uni-freiburg.de/rpc/');

define('CONFIG_BIOS_URL', 'https://bwlp-masterserver.ruf.uni-freiburg.de/bios/list.json');

define('CONFIG_PRODUCT_NAME', 'OpenSLX');
define('CONFIG_PRODUCT_NAME_LONG', 'OpenSLX Admin');

// Sort order for menu
// Optional - if missing, will be sorted by module id (internal name)
// Here it is also possible to assign a module to a different category,
// overriding the config.json entry
$MENU_CAT_OVERRIDE = array(
	'main.content' => array(
		'news', 'locations', 'exams', 'dozmod', 'adduser', 'permissionmanager', 'locationinfo'
	),
	'main.settings-client' => array(
		'sysconfig', 'baseconfig', 'minilinux'
	),
	'main.settings-server' => array(
		'serversetup', 'vmstore', 'webinterface', 'backup', 'dnbd3'
	),
	'main.status' => array(
		'systemstatus', 'eventlog', 'syslog', 'statistics', 'statistics_reporting'
	),
	'main.etc' => array(
		'rebootcontrol', 'runmode', 'translation'
	)
);