<form action="?do=WebInterface" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="https">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_httpsSettings}}</div>
		<div class="panel-body">
			<p>{{lang_httpsDescription}}</p>
			{{^httpsUsed}}
			{{lang_youreNotUsingHttps}}
			{{/httpsUsed}}
			{{#httpsUsed}}
			{{lang_youreUsingHttps}}
			{{/httpsUsed}}
			<div class="text-info slx-bold">
				{{#offSelected}}
				<p>{{lang_offSelected}}</p>
				{{/offSelected}}
				{{#unknownSelected}}
				<p>{{lang_unknownSelected}}</p>
				{{/unknownSelected}}
				{{#generatedSelected}}
				<p>{{lang_generatedSelected}}</p>
				{{/generatedSelected}}
				{{#suppliedSelected}}
				<p>{{lang_suppliedSelected}}</p>
				{{/suppliedSelected}}
			</div>
			<div id="cert-options">
				{{#httpsEnabled}}
				<div class="input-group row-select">
					<span class="input-group-addon">
						<span class="radio">
							<input id="moff" type="radio" name="mode" value="off" {{perms.edit.https.disabled}}>
							<label></label>
						</span>
					</span>
					<span class="form-control">
						{{lang_noHttps}}
					</span>
				</div>
				{{/httpsEnabled}}
				<div class="input-group row-select">
					<span class="input-group-addon">
						<span class="radio">
							<input id="mrandom" type="radio" name="mode" value="random" {{perms.edit.https.disabled}}>
							<label></label>
						</span>
					</span>
					<span class="form-control">
						{{lang_randomCert}}
					</span>
				</div>
				<div class="input-group row-select">
					<span class="input-group-addon">
						<span class="radio">
							<input id="mcustom" type="radio" name="mode" value="custom" {{perms.edit.https.disabled}}>
							<label></label>
						</span>
					</span>
					<span class="form-control">
						{{lang_customCert}}
					</span>
				</div>
			</div>

			<div class="well well-sm collapse" id="wcustom">
				{{lang_certificate}}
				<pre class="small">
-----BEGIN CERTIFICATE-----
MIIFfTCCA...
.....
-----END CERTIFICATE-----</pre>
				<textarea name="certificate" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
				{{lang_privateKey}}
				<pre class="small">
-----BEGIN PRIVATE KEY-----
MIIFfTCCA...
.....
-----END PRIVATE KEY-----</pre>
				<textarea name="privatekey" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
				{{lang_caChain}}
				<textarea name="cachain" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
			</div>

			<br>
			<div class="input-group row-select">
				<span class="input-group-addon">
					<span class="checkbox">
						<input id="httpsredirect" type="checkbox" name="httpsredirect" value="on" {{redirect_checked}} {{perms.edit.https.disabled}}>
						<label></label>
					</span>
				</span>
				<span class="form-control">
					{{lang_httpsRedirect}}
				</span>
			</div>
			<div class="input-group row-select">
				<span class="input-group-addon">
					<span class="checkbox">
						<input id="usehsts" type="checkbox" name="usehsts" value="on" {{hsts_checked}} {{perms.edit.https.disabled}}>
						<label></label>
					</span>
				</span>
				<span class="form-control">
					{{lang_useHsts}}
				</span>
			</div>
			<br>

			<div class="pull-right">
				<button type="submit" class="btn btn-primary" {{perms.edit.https.disabled}}>
					<span class="glyphicon glyphicon-floppy-disk"></span>
					{{lang_save}}
				</button>
			</div>
		</div>
	</div>
</form>
