<form action="?do=WebInterface" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="https">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_httpsSettings}}</div>
		<div class="panel-body">
			<p>{{lang_httpsDescription}}</p>
			{{^httpsUsed}}
			{{lang_youreNotUsingHttps}}
			{{/httpsUsed}}
			{{#httpsUsed}}
			{{lang_youreUsingHttps}}
			{{/httpsUsed}}
			<div class="text-info slx-bold">
				{{#offSelected}}
				<p>{{lang_offSelected}}</p>
				{{/offSelected}}
				{{#unknownSelected}}
				<p>{{lang_unknownSelected}}</p>
				{{/unknownSelected}}
				{{#generatedSelected}}
				<p>{{lang_generatedSelected}}</p>
				{{/generatedSelected}}
				{{#suppliedSelected}}
				<p>{{lang_suppliedSelected}}</p>
				{{/suppliedSelected}}
			</div>
			{{#httpsEnabled}}
			<div class="input-group" onclick="$('#moff').prop('checked', true);
					$('#wcustom').hide()">
				<span class="input-group-addon">
					<div class="radio">
						<input id="moff" type="radio" name="mode" value="off">
						<label></label>
					</div>
				</span>
				<span class="form-control">
					{{lang_noHttps}}
				</span>
			</div>
			{{/httpsEnabled}}
			<div class="input-group" onclick="$('#mrandom').prop('checked', true);
					$('#wcustom').hide()">
				<span class="input-group-addon">
					<div class="radio">
						<input id="mrandom" type="radio" name="mode" value="random">
						<label></label>
					</div>
				</span>
				<span class="form-control">
					{{lang_randomCert}}
				</span>
			</div>
			<div class="input-group" onclick="$('#mcustom').prop('checked', true);
					$('#wcustom').show()">
				<span class="input-group-addon">
					<div class="radio">
						<input id="mcustom" type="radio" name="mode" value="custom">
						<label></label>
					</div>
				</span>
				<span class="form-control">
					{{lang_customCert}}
				</span>
			</div>

			<div class="well well-sm" style="display:none" id="wcustom">
				{{lang_certificate}}
				<pre class="small">
-----BEGIN CERTIFICATE-----
MIIFfTCCA...
.....
-----END CERTIFICATE-----</pre>
				<textarea name="certificate" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
				{{lang_privateKey}}
				<pre class="small">
-----BEGIN PRIVATE KEY-----
MIIFfTCCA...
.....
-----END PRIVATE KEY-----</pre>
				<textarea name="privatekey" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
				{{lang_caChain}}
				<textarea name="cachain" class="form-control small" cols="101" rows="10"></textarea>
				<hr>
			</div>

			<br>
			<div class="input-group">
				<span class="input-group-addon">
					<div class="checkbox">
						<input id="httpsredirect" type="checkbox" name="httpsredirect" value="on" {{redirect_checked}}>
						<label></label>
					</div>
				</span>
				<span class="form-control" onclick="$('#httpsredirect').prop('checked', !$('#httpsredirect').prop('checked'))">
					{{lang_httpsRedirect}}
				</span>
			</div>
			<div class="input-group">
				<span class="input-group-addon">
					<div class="checkbox">
						<input id="usehsts" type="checkbox" name="usehsts" value="on" {{hsts_checked}}>
						<label></label>
					</div>
				</span>
				<span class="form-control" onclick="$('#usehsts').prop('checked', !$('#usehsts').prop('checked'))">
					{{lang_useHsts}}
				</span>
			</div>
			<br>

			<div class="pull-right">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
			</div>
		</div>
	</div>
</form>
