<form action="?do=WebInterface" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="password">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_passwordFields}}</div>
		<div class="panel-body">
			<p>{{lang_passwordsDescription}}</p>
			<div class="input-group" onclick="$('#pmshow').prop('checked', true)">
				<span class="input-group-addon">
					<div class="radio">
						<input id="pmshow" type="radio" name="mode" value="show" {{selected_show}}>
						<label></label>
					</div>
				</span>
				<span class="form-control">
					{{lang_showPasswords}}
				</span>
			</div>
			<div class="input-group" onclick="$('#pmhide').prop('checked', true)">
				<span class="input-group-addon">
					<div class="radio">
						<input id="pmhide" type="radio" name="mode" value="hide" {{selected_hide}}>
						<label></label>
					</div>
				</span>
				<span class="form-control">
					{{lang_hidePasswords}}
				</span>
			</div>
			<br>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
			</div>
		</div>
	</div>
</form>
