<div class="text-right">
	<form method="post" action="?do=minilinux">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="version" value="{{versionid}}">
		{{#verify_button}}
		<button type="button" class="btn btn-default btn-xs btn-verify" data-version="{{versionid}}" title="{{lang_verifyToolTip}}">
			<span class="glyphicon glyphicon-search"></span>
			{{lang_verify}}
		</button>
		{{/verify_button}}
		{{#download_button}}
		<button type="button" class="btn btn-xs btn-success btn-download" data-version="{{versionid}}">
			<span class="glyphicon glyphicon-download"></span>
			{{lang_download}}
		</button>
		{{/download_button}}
		{{#delete_button}}
		<button type="submit" name="show" value="delete" class="btn btn-xs btn-danger"
				  data-confirm="{{lang_confirmDeleteVersion}}">
			<span class="glyphicon glyphicon-trash"></span>
			{{lang_delete}}
		</button>
		{{/delete_button}}
	</form>
</div>
<div class="clearfix slx-smallspace"></div>
<table class="slx-table" style="width:100%">
{{#files}}
	<tr>
		<td class="text-nowrap">&nbsp;</td>
		<td class="text-nowrap">{{name}}</td>
		<td class="text-nowrap text-right">{{size_s}}</td>
		<td class="text-nowrap text-right">{{mtime_s}}</td>
		<td style="width:100%">
			{{^dltask}}
			{{state}}
			{{/dltask}}
			{{#dltask}}
			<div id="{{fileid}}">
				<div class="progress" style="margin-bottom:0">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
						  style="width:0"></div>
				</div>
			</div>
			{{/dltask}}
		</td>
	</tr>
{{/files}}
</table>
{{#dltask}}
<div class="hidden" data-tm-id="{{dltask}}" data-tm-callback="dlTmCb"></div>
{{/dltask}}
<div class="slx-space"></div>