<table class="table table-striped">
<tr>
	<th class="slx-smallcol">{{lang_version}}</th>
	<th class="slx-smallcol">{{lang_releaseDate}}</th>
	<th>{{lang_title}}</th>
	<th class="slx-smallcol"></th>
	<th class="slx-smallcol" style="width:100px">{{lang_default}}</th>
	<th class="slx-smallcol" style="width:150px">{{lang_download}}</th>
</tr>
{{#versions}}
<tr>
	<td class="text-nowrap">
		<a href="#" class="version-link" data-version="{{versionid}}" {{#downloading}}data-autoclick="true"{{/downloading}}>
			{{versionid}}
			<b class="caret"></b>
		</a>
	</td>
	<td class="text-nowrap">{{dateline_s}}</td>
	<td>{{title}}</td>
	<td class="text-nowrap">
		{{#orphan}}
		<span class="label label-danger" title="{{lang_orphanedVersionToolTip}}">{{lang_orphanedVersion}}</span>
		{{/orphan}}
	</td>
	<td class="text-nowrap text-center {{default_class}}">
		{{#showsetdefault}}
		<form method="post" action="?do=minilinux" style="margin:0;padding:0;display:inline">
			<input type="hidden" name="token" value="{{token}}">
			<input type="hidden" name="version" value="{{versionid}}">
			<button type="submit" name="show" value="setdefault" class="btn btn-xs btn-info" title="{{lang_setGlobalDefault}}">
				<span class="glyphicon glyphicon-flag"></span>
			</button>
		</form>
		{{/showsetdefault}}
		{{#isdefault}}
		<span class="glyphicon glyphicon-ok" title="{{lang_isGlobalDefault}}"></span>
		{{/isdefault}}
	</td>
	<td class="text-nowrap text-center">
		{{#installed}}
		<span class="label label-info">{{lang_installed}}</span>
		{{/installed}}
		{{^installed}}
		{{^downloading}}
		<button type="button" class="btn btn-xs btn-success btn-download" data-version="{{versionid}}">
			<span class="glyphicon glyphicon-download"></span>
			{{lang_download}}
		</button>
		{{/downloading}}
		{{/installed}}
	</td>
</tr>
<tr>
	<td colspan="6" class="version-container collapse" data-version="{{versionid}}"></td>
</tr>
{{/versions}}
</table>