<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<select multiple name="roles[]" id="select-role">
			<option value>{{lang_selectizePlaceholder}}</option>
			{{#roles}}
			<option value="{{roleId}}">{{roleName}}</option>
			{{/roles}}
		</select>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="locationsTable" class="table table-condensed table-hover dataTable">
			<thead>
				<tr>
					<th data-sort="string">{{lang_Locations}}</th>
					<th>{{lang_Roles}}</th>
				</tr>
			</thead>

			<tbody>
			{{#location}}
				<tr data-selectizeCount='0'>
					<td>{{locname}}</td>
					<td>
						{{#roles}}
						<span class="label label-default customSpanMargin roleId-{{roleId}}">{{roleName}}</span>
						{{/roles}}
					</td>
				</tr>
			{{/location}}
			</tbody>
		</table>
	</div>
</div>