<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<select multiple name="roles[]" id="select-role">
			<option value>{{lang_selectizePlaceholder}}</option>
			{{#allroles}}
			<option value="{{roleid}}">{{rolename}}</option>
			{{/allroles}}
		</select>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="locationsTable" class="table table-condensed table-hover stupidtable dataTable">
			<thead>
				<tr>
					<th data-sort="string">{{lang_Locations}}</th>
					<th>{{lang_Roles}}</th>
				</tr>
			</thead>

			<tbody>
			{{#location}}
				<tr data-selectizeCount='0'>
					<td>{{locationpad}} {{locationname}}</td>
					<td>
						{{#roles}}
						<a href="?do=permissionmanager&show=roleEditor&cancel=locations&roleid={{roleid}}" class="label label-default customSpanMargin roleid-{{roleid}}">{{rolename}}</a>
						{{/roles}}
					</td>
				</tr>
			{{/location}}
			</tbody>
		</table>
	</div>
</div>