<table id="locationsTable" class="table table-condensed table-hover dataTable">
	<thead>
		<tr>
			<th>{{lang_locations}}</th>
			<th class="slx-smallcol">{{lang_roles}}</th>
		</tr>
	</thead>

	<tbody>
	{{#location}}
		<tr class="{{#roles}}roleid-{{roleid}} {{/roles}}">
			<td>{{locationpad}} {{locationname}}</td>
			<td class="slx-smallcol">
				{{#roles}}
				<a href="?do=permissionmanager&show=roleEditor&cancel=locations&roleid={{roleid}}" class="label label-default customSpanMargin">{{rolename}}</a>
				{{/roles}}
			</td>
		</tr>
	{{/location}}
	</tbody>
</table>