<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_langAdministration}}
	</div>
	<div class="panel-body">
		<p>{{lang_adminInfo}}</p>
	</div>
</div>
<div class="panel panel-default">
	<table class="table">
		<thead>
			<tr>
				<th>{{lang_module}}</th>
				<th>{{lang_status}}</th>
			<tr>
		</thead>
		<tbody>
			{{#table}}
				<tr>
					<td><a href="?do=Translation&amp;module={{module}}">{{module}}</a></td>
					<td>{{{status}}}</td>
				</tr>
			{{/table}}
		</tbody>
	</table>
</div>
