<p>
	{{lang_adText1}}
	<br>
	{{lang_adText2}}
	<br>
	{{lang_adText3}}
</p>
<pre>dsquery user -name &quot;Username&quot;</pre>
<p>
	{{lang_adText4}}
</p>

<i>{{lang_asteriskMandatory}}</i>

<form role="form" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="position:absolute;top:-200px" tabindex="-1">
	<input type="password" name="password_fake" id="password_fake" value=""   style="position:absolute;top:-200px" tabindex="-1">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<div class="input-group">
		<span class="input-group-addon slx-ga">{{lang_moduleTitle}}</span>
		<input tabindex="1" name="title" value="{{title}}" type="text" class="form-control">
	</div>
	<div class="input-group">
		<span class="input-group-addon slx-ga">Server *</span>
		<input tabindex="2" name="server" value="{{server}}" type="text" class="form-control" placeholder="dc0.institution.example.com">
	</div>
	<div class="input-group">
		<span class="input-group-addon slx-ga">{{lang_bindDN}} *</span>
		<input tabindex="3" name="binddn" value="{{binddn}}" type="text" class="form-control" placeholder="domain\bwlp *ODER* CN=bwlp,OU=Benutzer,DC=domain,DC=hs-beispiel,DC=de">
	</div>
	<div class="input-group">
		<span class="input-group-addon slx-ga">{{lang_password}} *</span>
		<input tabindex="4" name="bindpw" value="{{bindpw}}" type="{{password_type}}" class="form-control" placeholder="{{lang_password}}">
	</div>
	<div class="input-group">
		<span class="input-group-addon slx-ga">{{lang_searchBase}}</span>
		<input tabindex="5" name="searchbase" value="{{searchbase}}" type="text" class="form-control" placeholder="dc=windows,dc=hs-beispiel,dc=de">
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon slx-ga">Home</span>
		<input tabindex="6" name="home" value="{{home}}" type="text" class="form-control" placeholder="\\server.example.com\%s">
		<span class="input-group-btn">
			<a class="btn btn-default" data-toggle="modal" data-target="#help-home"><span class="glyphicon glyphicon-question-sign"></span></a>
		</span>
	</div>
	<div class="input-group">
		<span class="input-group-addon slx-ga">{{lang_homeAttr}}</span>
		<input tabindex="6" name="homeattr" value="{{homeattr}}" type="text" class="form-control" placeholder="homeDirectory">
		<span class="input-group-btn">
			<a class="btn btn-default" data-toggle="modal" data-target="#help-homeattr"><span class="glyphicon glyphicon-question-sign"></span></a>
		</span>
	</div>
	<br>
	<div>
		<label>
			<input type="checkbox" name="ssl" onchange="$('#cert-box').css('display', this.checked ? '' : 'none')" {{#ssl}}checked{{/ssl}}> {{lang_ssl}}
		</label>
	</div>
	<i>{{lang_sslDescription}}</i>
	<br/>
	<hr>
	<div class="btn-group">
		<a class="btn btn-default" href="?do=SysConfig&action=addmodule">{{lang_back}}</a>
	</div>
	<div class="btn-group pull-right">
		<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
	</div>
	<div class="clearfix"></div>
	<div {{^ssl}}style="display:none"{{/ssl}} id="cert-box">
		<div class="well well-sm" id="wcustom">
			{{lang_customCertificate}}
			<pre class="small">
-----BEGIN CERTIFICATE-----
MIIFfTCCA...
.....
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
.....
-----END CERTIFICATE-----</pre>
			<textarea name="certificate" class="form-control small" cols="101" rows="10">{{certificate}}</textarea>
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
		</div>
		<div class="clearfix"></div>
	</div>
</form>

<div class="modal fade" id="help-home" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">{{lang_userDirectory}}</div>
			<div class="modal-body">
				<p>
					{{lang_userDirectoryInfo1}}
				</p>
				<pre>\\fileserv.uni.example.com\users\%s</pre>
				<p>
					{{lang_userDirectoryInfo2}}
				</p>
				<p>
					{{lang_userDirectoryInfo3}}
				</p>
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-homeattr" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">{{lang_helpHomeAttrHead}}</div>
			<div class="modal-body">
				<p>
					{{lang_helpHomeAttrText}}
				</p>
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
		</div>
	</div>
</div>
