<!-- 'shareRemapMode', 'shareRemapCreate', 'shareDocuments', 'shareDownloads', 'shareDesktop', 'shareMedia', 'shareOther' -->

<form method="post" class="form-horizontal" action="?do=SysConfig&amp;action=addmodule&amp;step={{next}}">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<input name="title" value="{{title}}" type="hidden">
	<input name="server" value="{{server}}" type="hidden">
	<input name="searchbase" value="{{searchbase}}" type="hidden">
	<input name="binddn" value="{{binddn}}" type="hidden">
	<input name="bindpw" value="{{bindpw}}" type="hidden">
	<input name="home" value="{{home}}" type="hidden">
	<input name="homeattr" value="{{homeattr}}" type="hidden">
	{{#ssl}}
	<input name="ssl" value="on" type="hidden">
	<input type="hidden" name="certificate" value="{{certificate}}">
	{{/ssl}}
	{{#mapping}}
		<input type="hidden" name="mapping[{{field}}]" value="{{value}}">
	{{/mapping}}
	<input name="fixnumeric" value="{{fixnumeric}}" type="hidden">
	<input name="genuid" value="{{genuid}}" type="hidden">
	<input name="fingerprint" value="{{fingerprint}}" type="hidden">

	<div class="slx-bold">{{lang_credentialPassing}}</div>
	<div class="checkbox">
		<input type="checkbox" class="form-control" id="inputcredentialPassthrough" name="credentialPassthrough" {{credentialPassthrough_c}}>
		<label for="inputcredentialPassthrough">{{lang_credentialPassing}}</label>
	</div>
	<div><i>{{lang_credPassingNotes}}</i></div>

	<hr>
	<div class="slx-bold">{{lang_homedirHandling}}</div>
	<div><i>{{lang_handlingNotes}}</i></div>

	<div class="form-group row">
		<label for="inputshareRemapMode" class="control-label col-xs-4">{{lang_shareRemapMode}}</label>
		<div class="col-xs-8">
			<select class="form-control" id="inputshareRemapMode" name="shareRemapMode">
				<option value="0" {{shareRemapMode_0}}>{{lang_mapModeNone}}</option>
				<option value="1" {{shareRemapMode_1}}>{{lang_mapModeNative}}</option>
				<option value="3" {{shareRemapMode_3}}>{{lang_mapModeVmware}}</option>
				<option value="2" {{shareRemapMode_2}}>{{lang_mapModeNativeFallback}}</option>
			</select>
			<p><i>{{lang_shareModeNote}}</i></p>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputshareDomain" class="control-label col-xs-4">{{lang_shareDomainLabel}}</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" id="inputshareDomain" name="shareDomain" value="{{shareDomain}}">
			<p><i>{{lang_shareDomainNote}}</i></p>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputshareHomeDrive" class="control-label col-xs-4">{{lang_shareHomeDrive}}</label>
		<div class="col-xs-8">
			<select class="form-control" id="inputshareHomeDrive" name="shareHomeDrive">
				{{#drives}}
				<option {{selected}}>{{drive}}</option>
				{{/drives}}
			</select>
			<p><i>{{lang_driveLetterNote}}</i></p>
		</div>
	</div>
	<div class="form-group row">
		<label for="inputldapAttrMountOpts" class="control-label col-xs-4">{{lang_ldapAttrMountOpts}}</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" id="inputldapAttrMountOpts" name="ldapAttrMountOpts" value="{{ldapAttrMountOpts}}">
		</div>
	</div>
	<div class="form-group row">
		<label for="inputshareHomeMountOpts" class="control-label col-xs-4">{{lang_shareHomeMountOpts}}</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" id="inputshareHomeMountOpts" name="shareHomeMountOpts" value="{{shareHomeMountOpts}}"
					 placeholder="vers=3.0,forceuid,forcegid,nounix,file_mode=0700,dir_mode=0700,noacl,nobrl">
			<p><i>{{lang_mountOptionsNote}}</i></p>
		</div>
	</div>

	<hr>
	<div class="slx-bold">{{lang_folderRedirection}}</div>
	<div><i>{{lang_redirectionWarning}}</i></div>

	<div class="checkbox">
		<input  id="shareDocuments" type="checkbox" class="form-control" name="shareDocuments" {{shareDocuments_c}}>
		<label for="shareDocuments">{{lang_shareDocuments}}</label>
	</div>
	<div class="checkbox">
		<input  id="shareDownloads" type="checkbox" class="form-control" name="shareDownloads" {{shareDownloads_c}}>
		<label for="shareDownloads">{{lang_shareDownloads}}</label>
	</div>
	<div class="checkbox">
		<input  id="shareDesktop" type="checkbox" class="form-control" name="shareDesktop" {{shareDesktop_c}}>
		<label for="shareDesktop">{{lang_shareDesktop}}</label>
	</div>
	<div class="checkbox">
		<input  id="shareMedia" type="checkbox" class="form-control" name="shareMedia" {{shareMedia_c}}>
		<label for="shareMedia">{{lang_shareMedia}}</label>
	</div>
	<div class="checkbox">
		<input  id="shareOther" type="checkbox" class="form-control" name="shareOther" {{shareOther_c}}>
		<label for="shareOther">{{lang_shareOther}}</label>
	</div>
	<div class="checkbox">
		<input  id="shareRemapCreate" type="checkbox" class="form-control" name="shareRemapCreate" {{shareRemapCreate_c}}>
		<label for="shareRemapCreate">{{lang_shareMapCreate}}</label>
	</div>
	<div class="pull-right">
		<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
	</div>
	<div class="clearfix"></div>
</form>