<p>
	{{lang_brandingInfo}}
</p>
<div class="pull-left">
	{{#svg}}
	<img src="data:image/svg+xml;base64,{{svg}}" width="192" height="192">
	{{/svg}}
</div>
<div class="pull-right">
	{{#png}}
	<img src="data:image/png;base64,{{png}}">
	{{/png}}
</div>
<div class="clearfix"></div>
<div>{{error}}</div>
<div>
	<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="edit" value="{{edit}}">
		<div class="form-group">
			<label for="title-id">{{lang_title}}</label>
			<input type="text" name="title" value="{{title}}" id ="title-id" class="form-control" placeholder="Name des Moduls">
		</div>
		<div class="btn-group">
			<a class="btn btn-default" href="?do=SysConfig&action=addmodule&step=Branding_Start">{{lang_cancel}}</a>
		</div>
		<div class="btn-group pull-right">
			<button type="submit" class="btn btn-primary">{{lang_save}}</button>
		</div>
	</form>
</div>
