<form role="form" method="post" action="?do=SysConfig&amp;action=addconfig&amp;step={{step}}">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<div class="input-group">
		<span class="input-group-addon">{{lang_name}} *</span>
		<input type="text" name="title" value="{{title}}" class="form-control" placeholder="{{lang_configuration}}" autofocus="autofocus">
	</div>
		<hr>
	<p>{{lang_configurationChoose}}</p>
	{{#groups}}
		<div class="panel panel-default">
			<div class="slx-litehead">{{group}}</div>
			<div class="panel-body">
			{{#modules}}
				<div class="input-group">
					<span class="input-group-addon">
						{{#unique}}
						<div class="radio">
							<input type="radio" name="module[{{groupid}}]" value="{{moduleid}}" id="module{{moduleid}}" {{#active}}checked{{/active}}>
							<label></label>
						</div>
						{{/unique}}
						{{^unique}}
						<div class="checkbox">
							<input type="checkbox" name="module[{{moduleid}}]" value="{{moduleid}}" id="module{{moduleid}}" {{#active}}checked{{/active}}>
							<label></label>
						</div>
						{{/unique}}
					</span>
					<label class="form-control" for="module{{moduleid}}">{{title}}</label>
					{{#missing}}
					<span class="input-group-addon" title="Modul beschädigt! Bitte neu generieren."><span class="red glyphicon glyphicon-exclamation-sign"></span></span>
					{{/missing}}
				</div>
			{{/modules}}
			{{^modules}}
			<div class="alert alert-info">{{lang_noModuleOfType}}</div>
			{{/modules}}
			</div>
		</div>
	{{/groups}}
	<div class="btn-group">
		<a href="?do=SysConfig" class="btn btn-default">{{lang_cancel}}</a>
	</div>
	<div class="btn-group pull-right">
		<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
	</div>
</form>
