<p>
	{{lang_configurationSuccess}}
</p>

<form role="form" method="post" action="?do=SysConfig">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="config">
	<input type="hidden" name="activate" value="{{configid}}">
	<div class="text-right">
		<div class="btn-group">
			<a href="?do=SysConfig" class="btn btn-default">{{lang_backToSysconfig}}</a>
			<button type="submit" class="btn btn-primary">{{lang_activateGlobally}}</button>
		</div>
	</div>
</form>
