<form role="form" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<input type="hidden" name="modid" value="{{modid}}">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<div class="input-group">
		<span class="input-group-addon">{{lang_moduleName}}</span>
		<input type="text" name="title" value="{{title}}" class="form-control" placeholder="Mein Konfigurationsmodul" autofocus="autofocus">
	</div>
	<div class="pull-right">
		<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
	</div>
	<div class="clearfix"></div>
	<hr>
	<p>{{lang_checkFileContent}}</p>
	<table class="table table-bordered table-condensed">
	{{#files}}
		<tr>
			{{#isdir}}
				<td class="fileEntry isdir" colspan="2">{{name}}</td>
			{{/isdir}}
			{{^isdir}}
				<td class="fileEntry">{{name}}</td>
				<td>{{size}}</td>
			{{/isdir}}
		</tr>
	{{/files}}
	</table>
	<div class="pull-right">
		<button type="submit" class="btn btn-primary">{{lang_next}} &raquo;</button>
	</div>
</form>
