<div class="panel panel-default">
	<div class="panel-heading">{{lang_legend}}</div>
	<div class="panel-body">
		<p>
			<span class="btn btn-default btn-xs" title="{{lang_show}}"><span class="glyphicon glyphicon-eye-open"></span></span>
			{{lang_showLong}}
		</p>
		<p>
			<span class="btn btn-default btn-xs" title="{{lang_download}}"><span class="glyphicon glyphicon-download-alt"></span></span>
			{{lang_downloadLong}}
		</p>
		<p>
			<span class="btn btn-default btn-xs" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></span>
			{{lang_rebuildLong}}
		</p>
		<p>
			<span class="btn btn-primary btn-xs" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></span>
			{{lang_rebuildOutdatedLong}}
		</p>
		<p>
			<span class="btn btn-success btn-xs" title="{{lang_edit}}"><span class="glyphicon glyphicon-edit"></span></span>
			{{lang_editLong}}
		</p>
		<p>
			<span class="btn btn-danger btn-xs" title="{{lang_delete}}"><span class="glyphicon glyphicon-trash"></span></span>
			{{lang_deleteLong}}
		</p>
		{{#showLocationBadge}}
		<p>
			<span class="badge">+4</span>
			{{lang_configLocationLong}}
		</p>
		{{/showLocationBadge}}
	</div>
</div>

<script type="application/javascript"><!--
document.addEventListener("DOMContentLoaded", function () {
	forceTable($("#modtable"));
	forceTable($("#conftable"));
	checkBuildStatus();
	$('[data-toggle="tooltip"]').tooltip();
}, false);
// --></script>