<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<div class="input-group">
		<span class="input-group-addon">{{lang_moduleName}}</span>
		<input type="text" name="title" value="{{title}}" class="form-control" autofocus="autofocus">
	</div>
	<div class="form-group">
		<div class="checkbox">
			<input type="checkbox" name="allowPasswordLogin" value="yes" {{#apl}}checked{{/apl}}>
			<label><b>{{lang_allowPass}}</b></label>
		</div>
		<div>
			<i>{{lang_allowPassInfo}}</i>
		</div>
	</div>
	<div class="form-group">
		<label for="root-key">{{lang_rootKey}}</label>
		<input class="form-control" type="text" name="publicKey" value="{{publicKey}}" id="root-key" pattern="[a-z0-9\-]+ +[a-zA-Z0-9=/\+]+ +.*">
		<i>{{lang_rootKeyInfo}}</i>
	</div>
	<div class="form-group">
		<label for="port">{{lang_listenPort}}</label>
		<input class="form-control" type="text" name="listenPort" value="{{listenPort}}" id="port" pattern="\d+">
		<i>{{lang_listenPortInfo}}</i>
	</div>
	<div class="btn-group">
		<a class="btn btn-default" href="?do=SysConfig&action=addmodule">{{lang_back}}</a>
	</div>
	<div class="btn-group pull-right">
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
	</div>
</form>

