<h2>{{lang_wolReachability}}</h2>

<h3>{{lang_subnets}}</h3>

<p>{{lang_subnetsDescription}}</p>

<p>{{lang_wolMachineSupportText}}</p>

<table class="table">
	<thead>
	<tr>
		<th>{{lang_subnet}}</th>
		<th class="slx-smallcol">{{lang_isFixed}}</th>
		<th class="slx-smallcol">{{lang_isDirect}}</th>
		<th class="slx-smallcol">{{lang_wolReachability}}</th>
		<th class="slx-smallcol">{{lang_lastseen}}</th>
	</tr>
	</thead>
	<tbody>
	{{#subnets}}
	<tr>
		<td>
			<a href="?do=rebootcontrol&show=subnet&what=subnet&id={{subnetid}}">{{cidr}}</a>
		</td>
		<td class="text-center">{{#fixed}}<span class="glyphicon glyphicon-lock"></span>{{/fixed}}</td>
		<td class="text-center">{{#isdirect}}<span class="glyphicon glyphicon-ok"></span>{{/isdirect}}</td>
		<td class="text-right">{{jumphostcount}} / {{sourcecount}}</td>
		<td class="{{lastseen_class}}">{{lastseen_s}}</td>
	</tr>
	{{/subnets}}
	</tbody>
</table>

<form method="post" action="?do=rebootcontrol">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="show" value="subnet">
	<div class="list-group">
		<div class="list-group-item">
			<label>{{lang_addNewSubnet}}</label>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<input class="form-control" type="text" name="cidr" placeholder="1.2.3.0/24">
				</div>
				<div class="col-md-4 col-sm-6">
					<button class="btn btn-primary" name="action" value="add">
						<span class="glyphicon glyphicon-floppy-disk"></span>
						{{lang_add}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
