<h3>{{lang_activeTasks}}</h3>
<table class="table">
	<thead>
		<tr>
			<th>{{lang_task}}</th>
			<th>{{lang_location}}</th>
			<th>{{lang_clientCount}}</th>
			<th>{{lang_status}}</th>
		</tr>
	</thead>
	<tbody>
	{{#list}}
		<tr>
			<td class="text-nowrap">
				<a href="?do=rebootcontrol&amp;show=task&amp;what=task&amp;taskid={{id}}">{{type}}</a>
				<div class="small">{{action}}</div>
			</td>
			<td>
				{{#locations}}
				<div class="loc">{{name}}</div>
				{{/locations}}
				<div class="clearfix"></div>
			</td>
			<td class="text-nowrap">
				{{clients}}
			</td>
			<td class="text-nowrap">
				{{status}}
			</td>
		</tr>
	{{/list}}
	</tbody>
</table>