<h2>{{lang_clientList}} ({{rowCount}})</h2>

<form method="post" action="?do=statistics">
<input type="hidden" name="token" value="{{token}}">
<input type="hidden" name="redirect" value="?{{redirect}}">

<table class="stupidtable table table-condensed table-striped">
	<thead>
		<tr>
			<td></td>
			<td></td>
			<td class="text-right">
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('lastseen')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('kvmstate')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td class="text-right">
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('gbram')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td class="text-right">
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('hddgb')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('realcores')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-xs" onclick="popupFilter('location')">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
		</tr>
		<tr>
			<th data-sort="string">{{lang_machine}}</th>
			<th data-sort="ipv4">{{lang_address}}</th>
			<th data-sort="int" class="text-right">{{lang_lastSeen}}</th>
			<th data-sort="string">{{lang_kvmSupport}}</th>
			<th data-sort="int" class="text-right">{{lang_gbRam}}</th>
			<th data-sort="int" class="text-right">{{lang_tmpGb}}</th>
			<th data-sort="int">{{lang_cpuModel}}</th>
			<th data-sort="string">{{lang_location}}</th>
		</tr>
	</thead>
	<tbody>
		{{#rows}}
		<tr>
			<td data-sort-value="{{hostname}}" class="text-nowrap">
			<div class="checkbox checkbox-inline">
				<input type="checkbox" name="uuid[]" value="{{machineuuid}}" class="machine-checkbox">
				<label></label>
			</div>
			{{#hasnotes}}
				<span class="glyphicon glyphicon-exclamation-sign pull-right"></span>
			{{/hasnotes}}
			{{#state_OFFLINE}}
				<span class="glyphicon glyphicon-off" title="{{lang_machineOff}}"></span>
			{{/state_OFFLINE}}
			{{#state_IDLE}}
				<span class="glyphicon glyphicon-ok green" title="{{lang_machineIdle}}"></span>
			{{/state_IDLE}}
			{{#state_OCCUPIED}}
				<span class="glyphicon glyphicon-user red" title="{{lang_machineOccupied}}"></span>
			{{/state_OCCUPIED}}
			{{#state_STANDBY}}
			<span class="glyphicon glyphicon-off green" title="{{lang_machineStandby}}"></span>
			{{/state_STANDBY}}
				{{#link_details}}
				<a href="?do=Statistics&amp;uuid={{machineuuid}}">
				{{/link_details}}
					<b>{{hostname}}</b>
				{{#link_details}}
				</a>
				{{/link_details}}
				<div class="small">{{machineuuid}}</div>
			{{#rmmodule}}
				<div class="small">{{lang_runMode}}:
					<a class="slx-bold" href="?do=runmode&amp;module={{rmmodule}}">{{moduleName}}</a> / {{modeName}}
				</div>
			{{/rmmodule}}
			</td>
			<td data-sort-value="{{clientip}}"><b><a href="?do=Statistics&amp;show=list&amp;filters=subnet={{subnet}}">{{subnet}}</a>{{lastoctet}}</b><br>{{macaddr}}</td>
			<td data-sort-value="{{lastseen_int}}" class="text-right text-nowrap">{{lastseen}}</td>
			<td class="{{kvmclass}}">{{kvmstate}}</td>
			<td data-sort-value="{{gbram}}" class="text-right {{ramclass}}">{{gbram}}&thinsp;GiB</td>
			<td data-sort-value="{{gbtmp}}" class="text-right {{hddclass}}">
				{{gbtmp}}&thinsp;GiB
				{{#badsectors}}<div><span data-toggle="tooltip" title="{{lang_reallocatedSectors}}" data-placement="left">
					<span class="glyphicon glyphicon-exclamation-sign"></span>
					{{badsectors}}
				</span></div>{{/badsectors}}
				{{#nohdd}}<div>
					<span class="glyphicon glyphicon-hdd red"></span>
				</div>{{/nohdd}}
			</td>
			<td data-sort-value="{{realcores}}">{{lang_realCores}}: {{realcores}}<div class="small">{{cpumodel}}</div></td>
			<td data-sort-value="{{locationname}}">{{locationname}}</td>
		</tr>
		{{/rows}}
	</tbody>
</table>
	<div class="text-right buttonbar">
		<button type="reset" class="btn btn-default">
			<span class="glyphicon glyphicon-refresh"></span>
			{{lang_reset}}
		</button>
		{{#rebootcontrol}}
		{{#canShutdown}}
			<button type="button" class="btn btn-danger btn-machine-action" data-toggle="modal" data-target="#shutdown-confirm">
				<span class="glyphicon glyphicon-off"></span>
				{{lang_shutdown}}
			</button>
		{{/canShutdown}}
		{{#canReboot}}
			<button type="button" class="btn btn-warning btn-machine-action" data-toggle="modal" data-target="#reboot-confirm">
				<span class="glyphicon glyphicon-repeat"></span>
				{{lang_reboot}}
			</button>
		{{/canReboot}}
		{{/rebootcontrol}}
		{{#canDelete}}
		<button type="button" class="btn btn-danger btn-machine-action" data-toggle="modal" data-target="#del-confirm">
			<span class="glyphicon glyphicon-trash"></span>
			{{lang_delete}}
		</button>
		{{/canDelete}}
	</div>
	<div class="modal fade" id="del-confirm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<b>{{lang_delete}}</b>
				</div>
				<div class="modal-body">
					{{lang_sureDeletePermanent}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
					<button type="submit" class="btn btn-danger"  name="action" value="delmachines">
						<span class="glyphicon glyphicon-trash"></span>
						{{lang_delete}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="reboot-confirm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<b>{{lang_reboot}}</b>
				</div>
				<div class="modal-body">
					<p>{{lang_rebootConfirm}}</p>
					<div class="checkbox">
						<input type="checkbox" name="kexec" value="1" id="kexec-input">
						<label for="kexec-input">{{lang_rebootKexecCheck}}</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
					<button type="submit" class="btn btn-danger"  name="action" value="rebootmachines">
						<span class="glyphicon glyphicon-repeat"></span>
						{{lang_reboot}}
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="shutdown-confirm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<b>{{lang_shutdown}}</b>
				</div>
				<div class="modal-body">
					{{lang_shutdownConfirm}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
					<button type="submit" class="btn btn-danger"  name="action" value="shutdownmachines">
						<span class="glyphicon glyphicon-off"></span>
						{{lang_shutdown}}
					</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="application/javascript"><!--

var selectedMachineCounter = 0;

document.addEventListener("DOMContentLoaded", function () {
	var $buttons = $('.btn-machine-action');
	$buttons.prop("disabled", true);
	$(".machine-checkbox").change(function() {
		if ($(this).is(':checked')) {
			selectedMachineCounter++;
			if (selectedMachineCounter === 1) {
				$buttons.prop("disabled", false);
			}
		} else {
			selectedMachineCounter--;
			if (selectedMachineCounter === 0) {
				$buttons.prop("disabled", true);
			}
		}
	});

	$("button[type=reset]").click(function() {
		selectedMachineCounter = 0;
		$buttons.prop("disabled", true);
	});
});

//--></script>
