<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_tempPartStats}}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<table class="filter-col table table-condensed table-striped" data-filter-col="hddgb">
						<tr>
							<th>{{lang_partitionSize}}</th>
							<th class="text-right">{{lang_machineCount}}</th>
						</tr>
						{{#rows}}
						<tr id="tmpid{{gb}}" class="{{class}} {{collapse}}">
							<td class="text-left text-nowrap">
								<a class="filter-val" data-filter-val="{{gb}}" href="?do=Statistics&amp;show=stat&amp;filters={{query}}~,~hddgb={{gb}}">{{gb}}&thinsp;GiB</a>
							</td>
							<td class="text-right">{{count}}</td>
						</tr>
						{{/rows}}
						<tr class="slx-decollapse">
							<td colspan="2">
								<span class="btn-group btn-group-justified">
									<span class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-menu-down"></span>
									</span>
								</span>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-sm-6">
					<canvas id="temppartchart" style="width:100%;height:250px"></canvas>
					<script type="text/javascript">
						document.addEventListener("DOMContentLoaded", function() {
							var data = {{{json}}};
							var sel = false;
							new Chart(document.getElementById('temppartchart').getContext('2d')).Pie(data, { 
								animation: false,
								tooltipTemplate: "<%if (label){%><%=label%><%}%>",
								customTooltips: function(tooltip) {
									if (sel !== false) sel.removeClass('slx-bold');
									if (!tooltip) {
										sel = false;
										return;
									}
									sel = $('#tmpid' + String(tooltip.text));
									sel.addClass('slx-bold');
								}
							});
						}, false);
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
