<h1>
	{{hostname}} {{#hostname}}–{{/hostname}} {{clientip}}
	{{#notes}}<a href="#usernotes"><span class="glyphicon glyphicon-exclamation-sign"></span></a>{{/notes}}
</h1>
<ol class="breadcrumb">
	{{#locations}}
	<li><a href="?do=statistics&amp;show=list&amp;filters=location={{locationid}}">{{locationname}}</a></li>
	{{/locations}}
	<li class="active">{{hostname}} {{^hostname}} {{clientip}} {{/hostname}}</li>
</ol>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_machineSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed" style="margin-bottom:-5px">
					<tr>
						<td class="text-nowrap">{{lang_uuid}}</td>
						<td>{{machineuuid}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_macAddr}}</td>
						<td>{{macaddr}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_ip}}</td>
						<td>{{clientip}}</td>
					</tr>
					{{#hostname}}
					<tr>
						<td class="text-nowrap">{{lang_hostname}}</td>
						<td>{{hostname}}</td>
					</tr>
					{{/hostname}}
					<tr>
						<td class="text-nowrap">{{lang_firstSeen}}</td>
						<td>{{firstseen_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_lastBoot}}</td>
						<td>{{lastboot_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_lastSeen}}</td>
						<td>{{lastseen_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_usageState}}</td>
						<td>
							{{#state_OFFLINE}}
							<span class="glyphicon glyphicon-off"></span> {{lang_machineOff}}
							{{/state_OFFLINE}}
							{{#state_IDLE}}
							<span class="glyphicon glyphicon-ok green"></span> {{lang_machineIdle}}
							{{/state_IDLE}}
							{{#state_OCCUPIED}}
							{{#username}}
							<span class="glyphicon glyphicon-user red"></span> {{lang_machineOccupiedBy}} <b>{{username}}</b>
							{{/username}}
							{{^username}}
							<span class="glyphicon glyphicon-user red"></span> {{lang_machineOccupied}}
							{{/username}}
							<div>{{#logintime}}{{logintime_s}}{{/logintime}}</div>
							{{/state_OCCUPIED}}
							{{#state_STANDBY}}
							<span class="glyphicon glyphicon-off green"></span> {{lang_machineStandby}}
							{{/state_STANDBY}}
							{{#session}}
							<div>
								{{#lectureid}}
								<a href="?do=dozmod&section=actionlog&action=showtarget&uuid={{lectureid}}">{{session}}</a>
								{{/lectureid}}
								{{^lectureid}}
								{{session}}
								{{/lectureid}}
							</div>
							{{/session}}
						</td>
					</tr>
					{{#modeid}}
						<tr>
							<td class="text-nowrap">{{lang_runMode}}</td>
							<td>
								<a href="?do=runmode&amp;module={{module}}">{{moduleName}}</a> – {{modeName}}
							</td>
						</tr>
					{{/modeid}}
					{{#hasroomplan}}
						<tr>
							<td class="text-nowrap">
								{{lang_roomplan}}
							</td>
							<td>
								<a href="?do=roomplanner&amp;locationid={{locationid}}" target="_blank"
									onclick="window.open(this.href, '_blank', 'toolbar=0,scrollbars,resizable');return false">
									<img src="api.php?do=roomplanner&amp;show=svg&amp;locationid={{locationid}}&amp;machineuuid={{machineuuid}}"/>
								</a>
							</td>
						</tr>
					{{/hasroomplan}}
					{{#rebootcontrol}}
						<tr>
							<td class="text-nowrap">
								{{lang_reboot}}/{{lang_shutdown}}
							</td>
							<td>
								<form method="post" action="?do=statistics">
									<input type="hidden" name="token" value="{{token}}">
									<input type="hidden" name="uuid" value="{{machineuuid}}">
									{{#canShutdown}}
										<button type="button" class="btn btn-sm btn-danger btn-machine-action" data-toggle="modal"
												  data-target="#shutdown-confirm">
											<span class="glyphicon glyphicon-off"></span>
											{{lang_shutdown}}
										</button>
									{{/canShutdown}}
									{{#canReboot}}
										<button type="button" class="btn btn-sm btn-warning btn-machine-action" data-toggle="modal"
												  data-target="#reboot-confirm">
											<span class="glyphicon glyphicon-repeat"></span>
											{{lang_reboot}}
										</button>
									{{/canReboot}}
									<div class="modal fade" id="reboot-confirm" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<b>{{lang_reboot}}</b>
												</div>
												<div class="modal-body">
													<p>{{lang_rebootConfirm}}</p>
													<div class="checkbox">
														<input type="checkbox" name="kexec" value="1" id="kexec-input">
														<label for="kexec-input">{{lang_rebootKexecCheck}}</label>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
															  data-dismiss="modal">{{lang_cancel}}</button>
													<button type="submit" class="btn btn-danger" name="action"
															  value="rebootmachines">
														<span class="glyphicon glyphicon-repeat"></span>
														{{lang_reboot}}
													</button>
												</div>
											</div>
										</div>
									</div>
									<div class="modal fade" id="shutdown-confirm" tabindex="-1" role="dialog">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<b>{{lang_shutdown}}</b>
												</div>
												<div class="modal-body">
													{{lang_shutdownConfirm}}
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
															  data-dismiss="modal">{{lang_cancel}}</button>
													<button type="submit" class="btn btn-danger" name="action"
															  value="shutdownmachines">
														<span class="glyphicon glyphicon-off"></span>
														{{lang_shutdown}}
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</td>
						</tr>
					{{/rebootcontrol}}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_hardwareSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td class="text-nowrap">{{lang_cpuModel}}</td>
						<td>
							{{cpumodel}}
							{{#Sockets}}
							<div class="small">
								{{lang_sockets}}: {{Sockets}}, {{lang_cores}}: {{Realcores}}, {{lang_virtualCores}}: {{Virtualcores}}
							</div>
							{{/Sockets}}
						</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_pcmodel}}</td>
						<td>{{pcmodel}} ({{pcmanufacturer}})</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_mobomodel}}</td>
						<td>{{mobomodel}} ({{mobomanufacturer}})</td>
					</tr>
					{{#biosdate}}
					<tr>
						<td class="text-nowrap">
							<div>{{lang_biosVersion}}</div>
							<div>{{lang_biosDate}}</div>
						</td>
						<td class="text-nowrap">
							<div id="bios-panel" class="pull-right"style="max-width:30%">{{{bioshtml}}}</div>
							<div>{{biosversion}} (<b>{{biosrevision}}</b>)</div>
							<div>{{biosdate}}</div>
						</td>
					</tr>
					{{/biosdate}}
					<tr class="{{ramclass}}">
						<td class="text-nowrap">{{lang_ram}}</td>
						<td>
							<div>
								{{gbram}}&thinsp;GiB
								{{#maxram}}({{lang_maximumAbbrev}} {{maxram}}){{/maxram}}
								{{ramtype}}
							</div>
							{{#live_memsize}}
							<div class="meter">
								<div class="text">{{live_memfree_s}} {{lang_free}}</div>
								<div class="bar" style="width:{{live_mempercent}}%"></div>
							</div>
							{{/live_memsize}}
							{{#live_swapsize}}
							<div class="meter">
								<div class="text">{{live_swapfree_s}} {{lang_free}}</div>
								<div class="bar" style="width:{{live_swappercent}}%"></div>
							</div>
							{{/live_swapsize}}
						</td>
					</tr>
					{{#extram}}
					<tr>
						<td class="text-nowrap">{{lang_ramSlots}}</td>
						<td>
							{{ramslotcount}}:
							{{#ramslot}}
							[ <span title="{{manuf}}">{{size}}</span> ]
							{{/ramslot}}
						</td>
					</tr>
					{{/extram}}
					<tr class="{{hddclass}}">
						<td class="text-nowrap">{{lang_tempPart}}</td>
						<td>
							<div>
									{{gbtmp}}&thinsp;GiB
							</div>
							{{#live_tmpsize}}
								<div class="meter">
									<div class="text">{{live_tmpfree_s}} {{lang_free}}</div>
									<div class="bar" style="width:{{live_tmppercent}}%"></div>
								</div>
							{{/live_tmpsize}}
						</td>
					</tr>
					<tr class="{{kvmclass}}">
						<td class="text-nowrap">{{lang_64bitSupport}}</td>
						<td>{{kvmstate}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_screens}}</td>
						<td>
							<form method="post" action="?do=statistics&amp;show=projectors" id="delprojector">
								<input type="hidden" name="token" value="{{token}}">
								<input type="hidden" name="action" value="delprojector">
							</form>
							<form method="post" action="?do=statistics&amp;show=projectors" id="addprojector">
								<input type="hidden" name="token" value="{{token}}">
								<input type="hidden" name="action" value="addprojector">
							</form>
							{{#screens}}
							<div class="small">
								{{#hwname}}
								<div class="pull-right btn-group btn-group-xs">
									{{#projector}}
									<a href="?do=statistics&amp;show=projectors" class="btn btn-default {{perms.hardware.projectors.view.disabled}}">
										{{lang_projector}}
									</a>
									<button form="delprojector" type="submit" name="hwid" value="{{hwid}}"
											  class="btn btn-danger" {{perms.hardware.projectors.edit.disabled}}>
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									{{/projector}}
									{{^projector}}
									<button form="addprojector" type="submit" name="hwid" value="{{hwid}}"
											  class="btn btn-success" {{perms.hardware.projectors.edit.disabled}}>
										<span class="glyphicon glyphicon-plus"></span> {{lang_projector}}
									</button>
									{{/projector}}
								</div>
								{{/hwname}}
								{{connector}}: <b>{{hwname}}</b> {{^hwname}}<i>{{lang_noEdid}}</i>{{/hwname}} {{resolution}}
								<div class="clearfix"></div>
							</div>
							{{/screens}}
						</td>
					</tr>
				</table>
				<h4>{{lang_devices}}</h4>
				{{#lspci1}}
				<div><span class="{{lookupClass}}">{{class}}</span></div>
				{{#entries}}
				<div class="small">&emsp;└ <span class="{{lookupVen}}">{{ven}}</span> <span class="{{lookupDev}}">{{dev}}</span></div>
				{{/entries}}
				{{/lspci1}}
				<div id="lspci" class="collapse">
					{{#lspci2}}
						<div><span class="{{lookupClass}}">{{class}}</span></div>
					{{#entries}}
						<div class="small">&emsp;└ <span class="{{lookupVen}}">{{ven}}</span> <span class="{{lookupDev}}">{{dev}}</span></div>
					{{/entries}}
					{{/lspci2}}
				</div>
				<div><button class="btn btn-xs btn-default" data-toggle="collapse" data-target="#lspci">{{lang_more}}</button></div>
			</div>
		</div>
	</div>
</div>
<script type="application/javascript"><!--
document.addEventListener("DOMContentLoaded", function () {
	$('span.do-lookup').each(function () {
		$(this).load('?do=statistics&lookup=' + $(this).text());
	});
	{{#biosurl}}
	$('#bios-panel').load('{{{biosurl}}}');
	{{/biosurl}}
}, false);
// --></script>
