<h1>
	{{hostname}} {{#hostname}}–{{/hostname}} {{clientip}}
	{{#notes}}<a href="#usernotes"><span class="glyphicon glyphicon-exclamation-sign"></span></a>{{/notes}}
</h1>
<ol class="breadcrumb">
	{{#locations}}
	<li><a href="?do=statistics&amp;show=list&amp;filters=location={{locationid}}">{{locationname}}</a></li>
	{{/locations}}
	<li class="active">{{hostname}} {{^hostname}} {{clientip}} {{/hostname}}</li>
</ol>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_machineSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td class="text-nowrap">{{lang_uuid}}</td>
						<td>{{machineuuid}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_macAddr}}</td>
						<td>{{macaddr}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_ip}}</td>
						<td>{{clientip}}</td>
					</tr>
					{{#hostname}}
					<tr>
						<td class="text-nowrap">{{lang_hostname}}</td>
						<td>{{hostname}}</td>
					</tr>
					{{/hostname}}
					<tr>
						<td class="text-nowrap">{{lang_firstSeen}}</td>
						<td>{{firstseen_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_lastBoot}}</td>
						<td>{{lastboot_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_lastSeen}}</td>
						<td>{{lastseen_s}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_usageState}}</td>
						<td>
							{{#state_off}}
							<span class="glyphicon glyphicon-off"></span> {{lang_machineOff}}
							{{/state_off}}
							{{#state_idle}}
							<span class="glyphicon glyphicon-ok green"></span> {{lang_machineIdle}}
							{{/state_idle}}
							{{#state_occupied}}
							{{#username}}
							<span class="glyphicon glyphicon-user red"></span> {{lang_machineOccupiedBy}} <b>{{username}}</b>
							{{/username}}
							{{^username}}
							<span class="glyphicon glyphicon-user red"></span> {{lang_machineOccupied}}
							{{/username}}
							<div>{{logintime_s}}</div>
							{{/state_occupied}}
							{{#session}}
							<div>
								{{#lectureid}}
								<a href="?do=dozmod&section=actionlog&action=showtarget&uuid={{lectureid}}">{{session}}</a>
								{{/lectureid}}
								{{^lectureid}}
								{{session}}
								{{/lectureid}}
							</div>
							{{/session}}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_hardwareSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td class="text-nowrap">{{lang_cpuModel}}</td>
						<td>
							{{cpumodel}}
							{{#Sockets}}
							<div class="small">
								{{lang_sockets}}: {{Sockets}}, {{lang_cores}}: {{Realcores}}, {{lang_virtualCores}}: {{Virtualcores}}
							</div>
							{{/Sockets}}
						</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_model}}</td>
						<td>{{pcmodel}} ({{manufacturer}})</td>
					</tr>
					<tr class="{{ramclass}}">
						<td class="text-nowrap">{{lang_ram}}</td>
						<td>
							{{gbram}}&thinsp;GiB
							{{#maxram}}({{lang_maximumAbbrev}} {{maxram}}){{/maxram}}
							{{ramtype}}
						</td>
					</tr>
					{{#extram}}
					<tr>
						<td class="text-nowrap">{{lang_ramSlots}}</td>
						<td>
							{{ramslotcount}}:
							{{#ramslot}}
							[ {{size}} ]
							{{/ramslot}}
						</td>
					</tr>
					{{/extram}}
					<tr class="{{hddclass}}">
						<td class="text-nowrap">{{lang_tempPart}}</td>
						<td>{{gbtmp}}&thinsp;GiB</td>
					</tr>
					<tr class="{{kvmclass}}">
						<td class="text-nowrap">{{lang_64bitSupport}}</td>
						<td>{{kvmstate}}</td>
					</tr>
					<tr>
						<td class="text-nowrap">{{lang_screens}}</td>
						<td>
							<form method="post" action="?do=statistics" id="delprojector">
								<input type="hidden" name="token" value="{{token}}">
								<input type="hidden" name="action" value="delprojector">
							</form>
							<form method="post" action="?do=statistics" id="addprojector">
								<input type="hidden" name="token" value="{{token}}">
								<input type="hidden" name="action" value="addprojector">
							</form>
							{{#screens}}
							<div class="small">
								<div class="pull-right btn-group btn-group-xs">
									{{#projector}}
									<a href="?do=statistics&amp;show=projectors" class="btn btn-default">{{lang_projector}}</a>
									<button form="delprojector" type="submit" name="hwid" value="{{hwid}}"
											  class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
									{{/projector}}
									{{^projector}}
									<button form="addprojector" type="submit" name="hwid" value="{{hwid}}"
											  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {{lang_projector}}</button>
									{{/projector}}
								</div>
								{{connector}}: <b>{{hwname}}</b> {{resolution}}
								<div class="clearfix"></div>
							</div>
							{{/screens}}
						</td>
					</tr>
				</table>
				<h4>{{lang_devices}}</h4>
				{{#lspci1}}
				<div><span class="{{lookupClass}}">{{class}}</span></div>
				{{#entries}}
				<div class="small">&emsp;└ <span class="{{lookupVen}}">{{ven}}</span> <span class="{{lookupDev}}">{{dev}}</span></div>
				{{/entries}}
				{{/lspci1}}
				<div id="lspci" class="collapse">
					{{#lspci2}}
						<div><span class="{{lookupClass}}">{{class}}</span></div>
					{{#entries}}
						<div class="small">&emsp;└ <span class="{{lookupVen}}">{{ven}}</span> <span class="{{lookupDev}}">{{dev}}</span></div>
					{{/entries}}
					{{/lspci2}}
				</div>
				<div><button class="btn btn-xs btn-default" data-toggle="collapse" data-target="#lspci">{{lang_more}}</button></div>
			</div>
		</div>
	</div>
</div>
<script type="application/javascript"><!--
document.addEventListener("DOMContentLoaded", function () {
	$('span.do-lookup').each(function () {
		$(this).load('?do=statistics&lookup=' + $(this).text());
	});
}, false);
// --></script>