<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_memoryStats}}
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-6">
					<table class="filter-col table table-condensed table-striped" data-filter-col="gbram">
						<tr>
							<th>{{lang_ramSize}}</th>
							<th class="text-right">{{lang_machineCount}}</th>
						</tr>
						{{#rows}}
						<tr id="ramid{{gb}}" class="{{class}}">
							<td class="text-left text-nowrap">
								<a class="filter-val" data-filter-val="{{gb}}" href="?do=Statistics&amp;show=stat&amp;filters={{query}}~,~gbram={{gb}}">{{gb}}&thinsp;GiB</a>
							</td>
							<td class="text-right">{{count}}</td>
						</tr>
						{{/rows}}
					</table>
				</div>
				<div class="col-sm-6">
					<canvas id="ramsizechart" style="width:100%;height:250px"></canvas>
					<script type="text/javascript">
						document.addEventListener("DOMContentLoaded", function() {
							var data = {{{json}}};
							var sel = false;
							new Chart(document.getElementById('ramsizechart').getContext('2d')).Pie(data, { 
								animation: false,
								tooltipTemplate: "<%if (label){%><%=label%><%}%>",
								customTooltips: function(tooltip) {
									if (sel !== false) sel.removeClass('slx-bold');
									if (!tooltip) {
										sel = false;
										return;
									}
									sel = $('#ramid' + tooltip.text);
									sel.addClass('slx-bold');
								}
							});
						}, false);
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
