<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div>
				{{lang_knownMachines}}: <b>{{known}}</b>&emsp;
				<a href="?do=Statistics&amp;show=stat&amp;filters={{query}}~,~state=on">{{lang_onlineMachines}}</a>: <b>{{online}}</b>&emsp;
				<a href="?do=Statistics&amp;show=stat&amp;filters={{query}}~,~state=occupied">{{lang_inUseMachines}}</a>: <b>{{used}}</b> (<b>{{usedpercent}}%</b>)
			</div>
			{{#badhdd}}
			<div>
				<span class="glyphicon glyphicon-exclamation-sign red"></span>
				<a href="?do=Statistics&amp;show=list&amp;filters={{query}}~,~badsectors>=10">
					{{lang_withBadSectors}}: <b>{{badhdd}}</b>
				</a>
			</div>
			{{/badhdd}}
		</div>
	</div>
	<div>
		<canvas id="usagehist" style="width:100%;height:150px"></canvas>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function() {
				var data = {{{json}}};
				var sel = false;
				new Chart(document.getElementById('usagehist').getContext('2d')).Line(data, { 
					animation: false,
					pointHitDetectionRadius: 5
				});
			}, false);
		</script>
	</div>
</div>

