<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table id="table-total" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="text-left col-md-2"></th>
						<th class="text-left column-totaltime">{{lang_totalTime}}</th>
						<th class="text-left column-mediantime">{{lang_medianSessionLength}}</th>
						<th class="text-left column-longsessions">{{lang_longSessions}}</th>
						<th class="text-left column-shortsessions">{{lang_shortSessions}}</th>
						<th class="text-left column-timeoffline">{{lang_overallOfftime}}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="text-left">{{lang_total}}</th>
						<td class="text-left column-totaltime">{{time}}</td>
						<td class="text-left column-mediantime">{{medianTime}}</td>
						<td class="text-left column-sessions">{{sessions}}</td>
						<td class="text-left column-shortsessions">{{shortSessions}}</td>
						<td class="text-left column-timeoffline">{{totalOfftime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="table-perlocation" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th data-sort="string" class="text-left col-md-2">{{lang_location}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-totaltime">{{lang_totalTime}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-mediantime">{{lang_medianSessionLength}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-longsessions">{{lang_longSessions}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-shortsessions">{{lang_shortSessions}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-timeoffline">{{lang_totalOffTime}}</th>
					</tr>
				</thead>
				<tbody>
					{{#perLocation}}
					<tr>
						<td class="locationName text-left">{{location}}</td>
						<td data-sort-value="{{timeInSeconds}}" class="text-left column-totaltime">{{time}}</td>
						<td data-sort-value="{{medianTimeInSeconds}}" class="text-left column-mediantime">{{medianTime}}</td>
						<td class="text-left column-sessions">{{sessions}}</td>
						<td class="text-left column-shortsessions">{{shortSessions}}</td>
						<td data-sort-value="{{offlineTimeInSeconds}}" class="text-left column-timeoffline">{{offTime}}</td>
					</tr>
					{{/perLocation}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="table-perclient" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th data-sort="string" class="text-left col-md-4">{{lang_hostname}}</th>
						<th data-sort="string" class="text-left column-location">{{lang_location}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-totaltime">{{lang_totalTime}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-mediantime">{{lang_medianSessionLength}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-longsessions">{{lang_longSessions}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-shortsessions">{{lang_shortSessions}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-timeoffline">{{lang_totalOffTime}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-lastlogout">{{lang_clientLogout}}</th>
						<th data-sort="int" data-sort-default="desc" class="text-left column-laststart">{{lang_clientStart}}</th>
					</tr>
				</thead>
				<tbody>
					{{#perClient}}
					<tr>
						<td class="text-left">{{hostname}}</td>
						<td class="text-left column-location"><a class="locationLink" href="#">{{locationName}}</a></td>
						<td data-sort-value="{{timeInSeconds}}" class="text-left column-totaltime">{{time}}</td>
						<td data-sort-value="{{medianTimeInSeconds}}" class="text-left column-mediantime">{{medianTime}}</td>
						<td class="text-left column-sessions">{{sessions}}</td>
						<td class="text-left column-shortsessions">{{shortSessions}}</td>
						<td data-sort-value="{{offlineTimeInSeconds}}" class="text-left column-timeoffline">{{offTime}}</td>
						<td data-sort-value="{{lastLogoutUnixtime}}" class="text-left column-lastlogout">{{lastLogout}}</td>
						<td data-sort-value="{{lastStartUnixtime}}" class="text-left column-laststart">{{lastStart}}</td>
					</tr>
					{{/perClient}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="table-peruser" class="table table-condensed table-striped">
				<thead>
				<tr>
					<th data-sort="string" class="text-left col-md-4">{{lang_user}}</th>
					<th data-sort="int" data-sort-default="desc" class="text-left column-sessions">{{lang_sessions}}</th>
				</tr>
				</thead>
				<tbody>
				{{#perUser}}
				<tr>
					<td class="text-left">{{user}}</td>
					<td class="text-left column-sessions">{{sessions}}</td>
				</tr>
				{{/perUser}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="table-pervm" class="table table-condensed table-striped">
				<thead>
				<tr>
					<th data-sort="string" class="text-left col-md-4">{{lang_vm}}</th>
					<th data-sort="int" data-sort-default="desc" class="text-left column-sessions">{{lang_sessions}}</th>
				</tr>
				</thead>
				<tbody>
				{{#perVM}}
				<tr>
					<td class="text-left">{{vm}}</td>
					<td class="text-left column-sessions">{{sessions}}</td>
				</tr>
				{{/perVM}}
				</tbody>
			</table>
		</div>
	</div>
</div>



