<table id="table-total" class="table table-condensed table-striped">
	<thead>
	<tr>
		<th class="text-left col-md-2"></th>
		<th class="text-left col_totalTime">{{lang_totalTime}}</th>
		<th class="text-left col_medianSessionLength">{{lang_medianSessionLength}}</th>
		<th class="text-left col_longSessions">{{lang_longSessions}}</th>
		<th class="text-left col_shortSessions">{{lang_shortSessions}}</th>
		<th class="text-left col_totalOffTime">{{lang_totalOffTime}}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<th class="text-left">{{lang_total}}</th>
		<td class="text-left col_totalTime">{{data.totalTime_s}}</td>
		<td class="text-left col_medianSessionLength">{{data.medianSessionLength_s}}</td>
		<td class="text-left col_longSessions">{{data.longSessions}}</td>
		<td class="text-left col_shortSessions">{{data.shortSessions}}</td>
		<td class="text-left col_totalOffTime">{{data.totalOffTime_s}}</td>
	</tr>
	</tbody>
</table>
