<table id="table-perlocation" class="table table-condensed table-striped">
	<thead>
	<tr>
		<th data-sort="string" class="text-left col-md-2">{{lang_location}}</th>
		<th data-sort="int" data-sort-default="desc" class="text-left col_totaltime">{{lang_totalTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="text-left col_mediantime">{{lang_medianSessionLength}}</th>
		<th data-sort="int" data-sort-default="desc" class="text-left col_longsessions">{{lang_longSessions}}</th>
		<th data-sort="int" data-sort-default="desc" class="text-left col_shortsessions">{{lang_shortSessions}}</th>
		<th data-sort="int" data-sort-default="desc" class="text-left col_timeoffline">{{lang_totalOffTime}}</th>
	</tr>
	</thead>
	<tbody>
	{{#data}}
	<tr>
		<td class="locationName text-left">{{location}}</td>
		<td data-sort-value="{{time}}" class="text-left col_totaltime">{{time_s}}</td>
		<td data-sort-value="{{medianTime}}" class="text-left col_mediantime">{{medianTime_s}}</td>
		<td class="text-left col_longsessions">{{sessions}}</td>
		<td class="text-left col_shortsessions">{{shortSessions}}</td>
		<td data-sort-value="{{offTime}}" class="text-left col_timeoffline">{{offTime_s}}</td>
	</tr>
	{{/data}}
	</tbody>
</table>
