<table id="table-perclient" class="table table-condensed table-striped table-nowrap stupidtable">
	<thead>
	<tr>
		<th data-sort="string">{{lang_hostname}}</th>
		<th data-sort="string" class="col_locationname">{{lang_location}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalTime">{{lang_totalTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_medianSessionLength">{{lang_medianSessionLength}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_longSessions">{{lang_longSessions}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_shortSessions">{{lang_shortSessions}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalOffTime">{{lang_totalOffTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalOffTime">(%)</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalStandbyTime">{{lang_totalStandbyTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalStandbyTime">(%)</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalSessionTime">{{lang_totalSessionTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalSessionTime">(%)</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalIdleTime">{{lang_totalIdleTime}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_totalIdleTime">(%)</th>
		<th data-sort="int" data-sort-default="desc" class="col_lastLogout">{{lang_lastLogout}}</th>
		<th data-sort="int" data-sort-default="desc" class="col_lastStart">{{lang_lastStart}}</th>
	</tr>
	</thead>
	<tbody>
	{{#data}}
	<tr>
		<td class="text-left">{{hostname}}</td>
		<td class="col_locationname"><a class="locationLink" href="#" data-lid="{{locationid}}">{{locationname}}</a></td>
		<td data-sort-value="{{totalTime}}" class="col_totalTime">{{totalTime_s}}</td>
		<td data-sort-value="{{medianSessionLength}}" class="col_medianSessionLength">{{medianSessionLength_s}}</td>
		<td class="col_longSessions">{{longSessions}}</td>
		<td class="col_shortSessions">{{shortSessions}}</td>
		<td data-sort-value="{{totalOffTime}}" class="text-right col_totalOffTime">{{totalOffTime_s}}</td>
		<td class="col_totalOffTime p-addon">{{totalOffTime_p}}&thinsp;%</td>
		<td data-sort-value="{{totalStandbyTime}}" class="text-right col_totalStandbyTime">{{totalStandbyTime_s}}</td>
		<td class="col_totalStandbyTime p-addon">{{totalStandbyTime_p}}&thinsp;%</td>
		<td data-sort-value="{{totalSessionTime}}" class="text-right col_totalSessionTime">{{totalSessionTime_s}}</td>
		<td class="col_totalSessionTime p-addon">{{totalSessionTime_p}}&thinsp;%</td>
		<td data-sort-value="{{totalIdleTime}}" class="text-right col_totalIdleTime">{{totalIdleTime_s}}</td>
		<td class="col_totalIdleTime p-addon">{{totalIdleTime_p}}&thinsp;%</td>
		<td data-sort-value="{{lastLogout}}" class="col_lastLogout">{{lastLogout_s}}</td>
		<td data-sort-value="{{lastStart}}" class="col_lastStart">{{lastStart_s}}</td>
	</tr>
	{{/data}}
	</tbody>
</table>
