<div class="panel panel-primary">
	<div class="panel-heading" style="background-image: none;" >
		<div class="panel-title">{{lang_userAdmin}}</div>
	</div>
	<table class="table">
		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">{{lang_login}}</th>
			<th style="text-align: center;">{{lang_username}}</th>
			<th style="text-align: center;">{{lang_telephone}}</th>
			<th style="text-align: center;">{{lang_email}}</th>
			<th style="text-align: center;"></th>
		</tr>
    	<tr>
    		<form method="post" action="">
    		<input type="hidden" name="action" value="editAdmin">
			<input type="hidden" name="token" value="{{token}}">
    		<td><input class="form-control" name="userid" type="text" readonly="readonly" value="{{admin_id}}" size="3"></td>
    		<td><input class="form-control" type="text" disabled="disabled" value="{{admin_username}}"></td>
    		<td><input class="form-control" name="username" type="text" value="{{admin_name}}"></td>
    		<td><input class="form-control" name="phone" type="text" value="{{admin_telephone}}"></td>
    		<td><input class="form-control" name="email" type="text" value="{{admin_email}}"></td>
    		<td><input class="btn btn-primary" type="submit" value="{{lang_save}}"></td>
    		</form>
    	</tr>
	</table>
</div>

<div class="panel panel-default" style="border-color:#333;">
	<div class="panel-heading" style="border-color:#333;background-color:#333;background-image: none;color:#FFF;">
		<div class="panel-title">{{lang_userPage}}</div>
	</div>
	<div class="panel-body">
		<p>
		{{lang_userInfo}}
		</p>
		
	</div>
	<table class="table">
		<tr>
			<form method="post" action="?do=Usermanagement">
    		<input type="hidden" name="action" value="create">
			<input type="hidden" name="token" value="{{token}}">
			<td><input class="form-control" name="login" type="text" placeholder="{{lang_login}}"></td>
			<td><input class="form-control" name="username" type="text" placeholder="{{lang_username}}"></td>
			<td><input class="form-control" name="pass" type="password" placeholder="{{lang_password}}"></td>
			<td><input class="form-control" name="phone" type="text" placeholder="{{lang_telephone}}"></td>
			<td><input class="form-control" name="email" type="text" placeholder="{{lang_email}}"></td>
			<td><input class="btn btn-primary" type="submit" value="{{lang_create}}"></td>
			</form>
		</tr>
		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">{{lang_login}}</th>
			<th colspan="4">{{lang_operations}}</th>
		</tr>
		{{#users}}
		<tr>
			<td><input class="form-control" type="text" disabled="disabled" value="{{id}}" size="3"></td>
			<td><input class="form-control" type="text" disabled="disabled" value="{{username}}"></td>
			<td colspan="4">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usr{{id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {{lang_edit}}</button>
				<form method="post" action="?do=Usermanagement" style="display:inline-block;">
					<input type="hidden" name="action" value="delete">
					<input type="hidden" name="userid" value="{{id}}">
					<input type="hidden" name="token" value="{{token}}">
					<button class="btn btn-danger" type="submit" onclick="return confirm('{{lang_cancelConfirm}}');"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{lang_remove}}</a>
				</form>
			</td>
		</tr>
		{{/users}}
		<tr>
			<td colspan="6">
				<ul class="pagination" style="margin:10px 0;">
					{{#pages}}
					<li class="{{class}}"><a href="?do=Usermanagement&page={{page}}">{{page}}</a></li>
					{{/pages}}
				</ul>
			</td>
		</tr>
	</table>
</div>
{{#users}}
<div class="modal fade" id="usr{{id}}" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><h4 class="modal-title">{{lang_editUser}}</h4></div>
			<div class="modal-body">
			<form method="post" action="">
				<input type="hidden" name="action" value="edit">
				<input type="hidden" name="token" value="{{token}}">
  				<div class="form-group">
   					<label for="userid">ID</label>
					<input type="text" class="form-control" name="userid" readonly="readonly" name="userid" value="{{id}}">
				</div>
				<div class="form-group">
   					<label for="userid">Login</label>
					<input type="text" class="form-control" name="login" disabled="disabled" placeholder="{{lang_login}}" value="{{username}}">
				</div>
				<div class="form-group">
   					<label for="userid">{{lang_username}}</label>
					<input type="text" class="form-control"  name="username" placeholder="{{lang_username}}" value="{{name}}">
				</div>
				<div class="form-group">
					<label for="userid">{{lang_telephone}}</label>
					<input type="text" class="form-control"  name="phone" placeholder="{{lang_telephone}}" value="{{telephone}}">
				</div>
				<div class="form-group">
					<label for="userid">{{lang_email}}</label>
					<input type="text" class="form-control"  name="email" placeholder="{{lang_email}}" value="{{email}}">
				</div>
				<div class="form-group">
					<b>Permissões:</b>
					<select name="permissions" class="form-control">
						<option value="4">Normal</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<input class="btn btn-primary" type="submit" value="{{lang_save}}">
				<a class="btn btn-default" data-dismiss="modal">{{lang_close}}</a>
			</div>
			</form>
		</div>
	</div>
</div>
{{/users}}