<div class="panel panel-default">
	<div class="panel-heading">{{lang_menuGeneration}}</div>
	<div class="panel-body">
		<div data-tm-id="{{taskid}}" data-tm-log="error" data-tm-callback="restartCb">{{lang_menuGeneration}}</div>
		<div id="genfailed" class="alert alert-danger" style="display:none">
			{{lang_generationFailed}}
		</div>
	</div>
</div>

<script type="text/javascript">
	function restartCb(task)
	{
		if (!task || !task.statusCode)
			return;
		if (task.statusCode === 'TASK_ERROR') {
			$('#genfailed').show('slow');
		}
	}
</script>
