<form method="post" action="?do=ServerSetup">
	<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="display:none;">
	<input type="password" name="password_fake" id="password_fake" value="" style="display:none;">
	<input type="hidden" name="action" value="ipxe">
	<input type="hidden" name="token" value="{{token}}">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_bootMenu}}
		</div>
		<div class="panel-body">
			<p>
				{{lang_bootInfo}}
			</p>
			<br>

			<div class="form-group">
				<strong>{{lang_bootBehavior}}</strong>
				<div><label class="radio-inline"><input type="radio" name="defaultentry" value="net" {{active-net}}> bwLehrpool</label></div>
				<div><label class="radio-inline"><input type="radio" name="defaultentry" value="hdd" {{active-hdd}}> {{lang_localHDD}}</label></div>
				<div><label class="radio-inline"><input type="radio" name="defaultentry" value="custom" {{active-custom}}> {{lang_customEntry}} (&quot;custom&quot;)</label></div>
			</div>

			<div class="form-group">
				<strong>{{lang_menuDisplayTime}}</strong>
				<div class="input-group form-narrow">
					<input type="text" class="form-control" name="timeout" value="{{timeout}}" pattern="\d+">
					<span class="input-group-addon">{{lang_seconds}}</span>
				</div>
			</div>

			<div class="form-group">
				<strong>{{lang_masterPassword}}</strong>
				<div class="form-narrow">
					<input type="{{password_type}}" class="form-control" name="masterpassword" value="{{masterpasswordclear}}">
				</div>
				<i>{{lang_masterPasswordHelp}}</i>
			</div>

			<div class="form-group">
				<strong>{{lang_menuCustom}}</strong> <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#help-custom"><span class="glyphicon glyphicon-question-sign"></span></a>
				<textarea class="form-control" name="custom" rows="8">{{custom}}</textarea>
			</div>
		</div>

		<div class="panel-footer">
			<a class="btn btn-default pull-right" href="?do=ServerSetup&amp;action=getimage">
				<span class="glyphicon glyphicon-download-alt"></span>
				{{lang_downloadImage}}
			</a>
			<button class="btn btn-primary" name="action" value="ipxe">{{lang_bootMenuCreate}}</button>
		</div>
	</div>
</form>

<div class="modal fade" id="help-custom" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">{{lang_menuCustom}}</div>
			<div class="modal-body">
				{{lang_menuCustomHint1}}
				<br>{{lang_example}}:
				<pre>LABEL custom
	MENU LABEL ^My Boot Entry
	KERNEL http://1.2.3.4/kernel
	INITRD http://1.2.3.4/initramfs-stage31
	APPEND custom=option
	IPAPPEND 3</pre>
				{{lang_menuCustomHint2}} LABEL <strong>custom</strong>
				{{lang_menuCustomHint3}}
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
		</div>
	</div>
</div>
