<form method="post" action="?do=ServerSetup">
	<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="position:absolute;top:-2000px" tabindex="-1">
	<input type="password" name="password_fake" id="password_fake" value="" style="position:absolute;top:-2000px" tabindex="-1">
	<input type="hidden" name="action" value="ipxe">
	<input type="hidden" name="token" value="{{token}}">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{lang_bootMenu}}
		</div>
		<div class="panel-body">
			<p>
				{{lang_bootInfo}}
			</p>
			<br>

			<div class="form-group">
				<strong>{{lang_bootBehavior}}</strong>
				<div class="radio">
					<input type="radio" name="defaultentry" value="net" {{active-net}} id="id-net">
					<label for="id-net">bwLehrpool</label>
				</div>
				<div class="radio">
					<input type="radio" name="defaultentry" value="hdd" {{active-hdd}} id="id-hdd">
					<label for="id-hdd">{{lang_localHDD}}</label>
				</div>
				<div class="radio">
					<input type="radio" name="defaultentry" value="custom" {{active-custom}} id="id-custom">
					<label for="id-custom">{{lang_customEntry}} (&quot;custom&quot;)</label>
				</div>
			</div>

			<div class="form-group">
				<strong>{{lang_menuDisplayTime}}</strong>
				<div class="input-group form-narrow">
					<input type="text" class="form-control" name="timeout" value="{{timeout}}" pattern="\d+">
					<span class="input-group-addon">{{lang_seconds}}</span>
				</div>
			</div>

			<div class="form-group">
				<strong>{{lang_masterPassword}}</strong>
				<div class="form-narrow">
					<input type="{{password_type}}" class="form-control" name="masterpassword" value="{{masterpasswordclear}}">
				</div>
				<i>{{lang_masterPasswordHelp}}</i>
			</div>

			<div class="form-group">
				<strong>{{lang_menuCustom}}</strong> <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#help-custom"><span class="glyphicon glyphicon-question-sign"></span></a>
				<textarea class="form-control" name="custom" rows="8">{{custom}}</textarea>
			</div>
		</div>

		<div class="panel-footer">
			<button class="btn btn-primary pull-right" name="action" value="ipxe">{{lang_bootMenuCreate}}</button>
			<div>
				<div class="btn-group" role="group">
					<a class="btn btn-default" href="?do=ServerSetup&amp;action=getimage">
						<span class="glyphicon glyphicon-download-alt"></span>
						{{lang_downloadImage}}
					</a>
					<span class="btn btn-default" data-toggle="modal" data-target="#help-usbimg"><span class="glyphicon glyphicon-question-sign"></span></span>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="help-custom" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{lang_menuCustom}}
			</div>
			<div class="modal-body">
				{{lang_menuCustomHint1}}
				<br>{{lang_example}}:
				<pre>LABEL custom
	MENU LABEL ^My Boot Entry
	KERNEL http://1.2.3.4/kernel
	INITRD http://1.2.3.4/initramfs-stage31
	APPEND custom=option
	IPAPPEND 3</pre>
				{{lang_menuCustomHint2}} LABEL <strong>custom</strong>
				{{lang_menuCustomHint3}}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-usbimg" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{lang_usbImage}}
			</div>
			<div class="modal-body">
				<p>{{lang_usbImgHelp}}</p>
				<p>
					<b>Linux</b>
					<br>
					{{lang_usbImgHelpLinux}}
				</p>
				<p>
					<b>Windows</b>
					<br>
					{{lang_usbImgHelpWindows}}
				</p>
				<p>
					<a href="https://rufus.akeo.ie/#download">{{lang_downloadRufus}}</a>
				</p>
			</div>
		</div>
	</div>
</div>