<h1>{{lang_partitionManagement}}</h1>

<p>{{lang_explanationText}}</p>

<form action="?do=BaseConfig_Partitions_CDN" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<div class='list-group'>
		{{#partitions}}
		<div class='list-group-item'>
			<div class='row'>
				<div class='col-sm-2'>
					<input name='partition-{{id}}-partition_id' type='text' class='form-control' value='{{partition_id}}' placeholder='{{lang_partitionId}}'>
				</div>
				<div class='col-sm-2'>
					<input name='partition-{{id}}-size' type='text' class='form-control' value='{{size}}' placeholder='{{lang_partitionSize}}'>
				</div>
				<div class='col-sm-4 col-md-3'>
					<input name='partition-{{id}}-mount_point' type='text' class='form-control' value='{{mount_point}}' placeholder='{{lang_partitionMountPoint}}'/>
				</div>
				<div class='col-sm-3'>
					<input name='partition-{{id}}-options' type='text' class='form-control' size='30' value='{{options}}' placeholder='{{lang_partitionOptions}}'/>
				</div>
				<div class='col-sm-1 col-md-2'>
					<a class='btn btn-danger' href='?do=BaseConfig_Partitions_CDN&amp;deletePartition={{id}}&amp;token={{token}}'>
						<span class='glyphicon glyphicon-trash'></span>
					</a>
				</div>
			</div>
		</div>
		{{/partitions}}
		<div class='list-group-item clearfix'>
			<div class="pull-right">
				<a class='btn btn-success ' data-toggle='modal' data-target='#add-partition'>
					<span class='glyphicon glyphicon-plus'></span> {{lang_newPartition}}
				</a>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<a class="btn btn-default" data-toggle="modal" data-target="#downloadModal"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
		<button class="btn btn-warning" type="reset"><span class="glyphicon glyphicon-refresh"></span> {{lang_discardChanges}}</button>
		<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
	</div>

	<div class ="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" style="width: 400px" role="document">
			<div class="modal-content">
				<div class="modal-body">
					{{lang_confirm}}
				</div>
				<div class="modal-footer">
					<button type="button" onclick="saveConfig(false)" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
					<button type="button" onclick="saveConfig(true)" class="btn btn-sm btn-danger" name="download"> Download</button>
				</div>
			</div>
		</div>
	</div>
</form>

<form method="post" action="?do=BaseConfig_Partitions_CDN">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="reset">
	<button class="btn btn-danger" type="button" data-toggle="modal" data-target="#resetDefaultModal">{{lang_resetDefault}}</button>

	<div class ="modal fade" id="resetDefaultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" style="width: 400px" role="document">
			<div class="modal-content">
				<div class="modal-body">
					{{lang_areYouSureNoUndo}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
					<button type="submit" class="btn btn-sm btn-danger" name="resetDefault"> {{lang_resetDefault}}</button>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- Create Partition Window -->
<form action="?do=BaseConfig_Partitions_CDN" method="post">
	<div class="modal fade" id="add-partition" tabindex="-1" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<h4><b>{{lang_newPartition}}</b></h4>
				</div>

				<div class="modal-body">
					<div class="input-group">
						<span class="input-group-addon" style="min-width:140px;">{{lang_partitionId}}</span>
						<input name="new-partition-id" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpId}}</p>
					<div class="input-group">
						<span class="input-group-addon" style="min-width:140px;">{{lang_partitionSize}}</span>
						<input name="new-partition-size" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpSize}}</p>
					<div class="input-group">
						<span class="input-group-addon" style="min-width:140px;">{{lang_partitionMountPoint}}</span>
						<input name="new-partition-mount-point" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpMountPoint}}</p>
					<div class="input-group">
						<span class="input-group-addon" style="min-width:140px;">{{lang_partitionOptions}}</span>
						<input name="new-partition-options" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpOptions}}</p>
				</div>

				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</a>
					<input type="submit" class="btn btn-primary" value="{{lang_create}}">
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="action" value="new_partition">
	<input type="hidden" name="token" value="{{token}}">
</form>
<script type="text/javascript">
	function saveConfig(download){
		if(download)
			window.location = 'api.php?do=baseconfig&user={{user}}&save=true';
		else
			window.location = 'api.php?do=baseconfig&user={{user}}';
	}

</script>