<h1>{{lang_partitioningManagement}}</h1>

<form action="?do=BaseConfig_Partitions_CDN" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<button class="btn btn-lg btn-primary" type="submit">{{lang_save}}</button>
	<button class="btn btn-lg btn-primary" type="reset">{{lang_reset}}</button>
	<a class="btn btn-lg btn-primary" href="#" onclick="saveConfig()">Download</a>
</form>
<div>
<form method="post" action="?do=BaseConfig_Partitions_CDN">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="reset">
	<button class="btn btn-default" type="submit" onclick="return confirm('{{lang_resetConfirm}}');">{{lang_resetDefault}}</button>
</form>
</div>

<!-- Create Partition Window -->
<form action="?do=BaseConfig_Partitions_CDN" method="post">
	<div class="modal fade" id="add-partition" tabindex="-1" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">{{lang_newPartition}}</div>
				<div class="modal-body">

					<div class="input-group">
						<span class="input-group-addon">{{lang_partitionId}}</span>
						<input name="new-partition-id" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpId}}</p>
					<div class="input-group">
						<span class="input-group-addon">{{lang_partitionSize}}</span>
						<input name="new-partition-size" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpSize}}</p>
					<div class="input-group">
						<span class="input-group-addon">{{lang_partitionMountPoint}}</span>
						<input name="new-partition-mount-point" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpMountPoint}}</p>
					<div class="input-group">
						<span class="input-group-addon">{{lang_partitionOptions}}</span>
						<input name="new-partition-options" class="form-control" type="text">
					</div>
					<p class="help-block">{{lang_helpOptions}}</p>
					<input type="submit" class="btn btn-primary" value="{{lang_create}}">
				</div>
				<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
			</div>
		</div>
	</div>
	<input type="hidden" name="action" value="new_partition">
	<input type="hidden" name="token" value="{{token}}">
</form>
<script type="text/javascript">
	document.getElementById("cat-extra-6").innerHTML = "<div class='list-group'> <div class='list-group-item' style='background-color:#f5f5f5;color:#428bca;'> " +
			"{{lang_catPartition}} <span style='display:inline-block; float: right; margin-top: -7px;'> <a class='btn btn-default ' data-toggle='modal' " +
			"data-target='#add-partition'> <span class='glyphicon glyphicon-plus'></span> </a> </span> </div> {{#partitions}} <div class='list-group-item'> " +
			"<div class='row'> <div class='col-md-1'> <input name='partition-{{id}}-partition_id' type='text' class='form-control' size='30' value='{{partition_id}}'" +
			" placeholder='{{lang_partitionId}}' /> </div> <div class='col-md-1'> <input name='partition-{{id}}-size' type='text' class='form-control' size='30' " +
			"value='{{size}}' placeholder='{{lang_partitionSize}}'/> </div> <div class='col-md-4'> <input name='partition-{{id}}-mount_point' type='text' " +
			"class='form-control' size='30' value='{{mount_point}}' placeholder='{{lang_partitionMountPoint}}'/> </div> <div class='col-md-4'> <input " +
			"name='partition-{{id}}-options' type='text' class='form-control' size='30' value='{{options}}' placeholder='{{lang_partitionOptions}}'/> </div> " +
			"<div class='col-md-2'> <a class='btn btn-danger' href='?do=BaseConfig&deletePartition={{id}}&token={{token}}' ><span class='glyphicon glyphicon-trash'>" +
			"</span> {{lang_delete}}</a> </div> </div> </div> {{/partitions}} </div> </div>";

	function saveConfig(){
		if(confirm('{{lang_confirm}}'))
			window.location = 'api.php?do=baseconfig&user={{user}}&save=true';
		else
			window.location = 'api.php?do=baseconfig&user={{user}}';
	}

</script>