<td class="slx-well">
	<div class="slx-bold">{{lang_locationSettings}}</div>
	<form method="post" action="?do=Locations">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="action" value="updatelocation">
		<input type="hidden" name="locationid" value="{{locationid}}">
		<div style="display:none">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon slx-ga2">{{lang_name}}</span>
					<input class="form-control" type="text" name="locationname" value="{{locationname}}" pattern=".*\S.*">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon slx-ga2">{{lang_parentLocation}}</span>
					<select class="form-control" name="parentlocationid">
						{{#parents}}
						<option value="{{locationid}}" {{#selected}}selected="selected"{{/selected}}>{{locationpad}} {{locationname}}</option>
						{{/parents}}
					</select>
				</div>
			</div>
		</div>
		<div>
			<div class="pull-right">
				<label><input type="checkbox" name="recursive" value="on"> {{lang_deleteChildLocations}}</label>
				<button type="submit" class="btn btn-sm btn-danger" name="deletelocation" value="{{locationid}}" onclick="return slxConfirm()">{{lang_deleteLocation}}</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<br>
		<div class="slx-bold">{{lang_assignedSubnets}}</div>
		<div><i>{{lang_assignSubnetExplanation}}</i></div>
		<table class="table table-condensed table-striped">
			<tr>
				<th>#</th>
				<th>{{lang_startAddress}}</th>
				<th>{{lang_endAddress}}</th>
				<th title="{{lang_deleteSubnet}}"><span class="glyphicon glyphicon-trash"></span></th>
			</tr>
			{{#list}}
				<tr class="cidrmagic">
					<td>{{subnetid}}</td>
					<td><input class="form-control cidrstart" type="text" name="startaddr[{{subnetid}}]" value="{{startaddr}}" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
					<td><input class="form-control cidrend" type="text" name="endaddr[{{subnetid}}]" value="{{endaddr}}" pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
					<td class="danger" align="center"><input type="checkbox" name="deletesubnet[{{subnetid}}]" value="on"></td>
				</tr>
			{{/list}}
			<tr id="loc-sub-{{locationid}}">
				<td colspan="4">
					<button class="btn btn-success btn-sm" type="button" onclick="slxAddSubnetRow(this, {{locationid}})" title="{{lang_addNewSubnet}}">
						<span class="glyphicon glyphicon-plus-sign"></span> {{lang_subnet}}
					</button>
				</td>
			</tr>
		</table>
		<br>
		<div class="pull-right">
			<button type="submit" class="btn btn-primary">{{lang_save}}</button>
		</div>
		<div class="slx-bold">{{lang_locationInfo}}</div>
		{{#haveDozmod}}
		<div>
			<span class="slx-ga2">{{lang_referencingLectures}}:</span> {{lectures}}
		</div>
		{{/haveDozmod}}
		{{#haveStatistics}}
		<div>
			<span class="slx-ga2">{{lang_matchingMachines}}:</span> <a href="?do=Statistics&amp;filter=location&amp;argument={{locationid}}">{{machines}} / {{machines_online}} / {{machines_used}} ({{used_percent}}%)</a>
		</div>
		{{/haveStatistics}}
	</form>
</div>