<div>
	<div class="btn-group pull-right">
		<a href="?do=Locations&amp;action=showlocations" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> {{lang_thisListByLocation}}</a>
		<a href="?do=Locations&amp;action=showsubnets" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> {{lang_thisListBySubnet}}</a>
	</div>
	<h1>{{lang_listOfSubnets}}</h1>
	<form method="post" action="?do=Locations">
		<input type="hidden" name="token" value="{{token}}">
		<input type="hidden" name="action" value="updatesubnets">
		<table class="table table-condensed table-striped">
			<tr>
				<th>#</th>
				<th>{{lang_startAddress}}</th>
				<th>{{lang_endAddress}}</th>
				<th>{{lang_location}}</th>
			</tr>
			{{#list}}
				<tr class="cidrmagic">
					<td>{{subnetid}}</td>
					<td class="{{^editThisSubnetAllowed}}disabled{{/editThisSubnetAllowed}}"><input class="form-control cidrstart" type="text" name="startaddr[{{subnetid}}]" value="{{startaddr}}"></td>
					<td class="{{^editThisSubnetAllowed}}disabled{{/editThisSubnetAllowed}}"><input class="form-control cidrend" type="text" name="endaddr[{{subnetid}}]" value="{{endaddr}}"></td>
					<td class="{{^deleteThisSubnetAllowed}}disabled{{/deleteThisSubnetAllowed}}">
						<select class="form-control" name="location[{{subnetid}}]">
							{{#locations}}
							<option {{disabled}} value="{{locationid}}" {{#selected}}selected="selected"{{/selected}}>{{locationpad}} {{locationname}}</option>
							{{/locations}}
						</select>
					</td>
				</tr>
			{{/list}}
		</table>
		<div class="text-right" style="margin-bottom: 20px">
			<button {{^editSubnetAllowed}}disabled{{/editSubnetAllowed}} type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
		</div>
	</form>
</div>
