<h1>
	{{hostname}} {{#hostname}}–{{/hostname}} {{clientip}}
	{{#notes}}<a href="#usernotes"><span class="glyphicon glyphicon-exclamation-sign"></span></a>{{/notes}}
</h1>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_machineSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td>{{lang_uuid}}</td>
						<td>{{machineuuid}}</td>
					</tr>
					<tr>
						<td>{{lang_macAddr}}</td>
						<td>{{macaddr}}</td>
					</tr>
					<tr>
						<td>{{lang_ip}}</td>
						<td>{{clientip}}</td>
					</tr>
					{{#hostname}}
					<tr>
						<td>{{lang_hostname}}</td>
						<td>{{hostname}}</td>
					</tr>
					{{/hostname}}
					<tr>
						<td>{{lang_firstSeen}}</td>
						<td>{{firstseen}}</td>
					</tr>
					<tr>
						<td>{{lang_lastBoot}}</td>
						<td>{{lastboot}}</td>
					</tr>
					<tr>
						<td>{{lang_lastSeen}}</td>
						<td>{{lastseen}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_hardwareSummary}}
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<tr>
						<td>{{lang_cpuModel}}</td>
						<td>
							{{cpumodel}}
							{{#Sockets}}
							<div class="small">
								{{lang_sockets}}: {{Sockets}}, {{lang_cores}}: {{Realcores}}, {{lang_virtualCores}}: {{Virtualcores}}
							</div>
							{{/Sockets}}
						</td>
					</tr>
					<tr class="{{ramclass}}">
						<td>{{lang_ram}}</td>
						<td>{{gbram}}&thinsp;GiB</td>
					</tr>
					<tr class="{{hddclass}}">
						<td>{{lang_tempPart}}</td>
						<td>{{gbtmp}}&thinsp;GiB</td>
					</tr>
					<tr class="{{kvmclass}}">
						<td>{{lang_64bitSupport}}</td>
						<td>{{kvmstate}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>