<div class="slx-topbar">
	<div>
		{{#warning}}
		<a href="?do=EventLog"><span class="slx-warning-badge badge"><span class="glyphicon glyphicon-exclamation-sign"></span> {{lang_warning}}</span></a>
		{{/warning}}
		{{#needsSetup}}
		<a href="?do=Main"><span class="slx-warning-badge badge"><span class="glyphicon glyphicon-exclamation-sign"></span> {{lang_needsSetup}}</span></a>
		{{/needsSetup}}
	</div>
</div>
<div class="sidebar-bg"></div>
<nav class="navbar navbar-inverse sidebar">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">{{lang_toggleNavigation}}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="?do=Main">OpenSLX</a>
			<div id="navbar-sub" class="gray small"></div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{{#categories}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle slx-nopointer" data-toggle="dropdown"><span class="sidebar-visible-inline {{icon}}"></span> {{displayName}}<b class="caret sidebar-hide"></b></a>
					<ul class="dropdown-menu sidebar-visible-block" role="menu">
						{{#modules}}
						<li class="{{className}}"><a href="?do={{identifier}}">{{displayName}}</a></li>
						{{#subMenu}}
						<li class="slx-submenu visible-lg"><a href="{{url}}">{{name}}</a></li>
						{{/subMenu}}
						{{/modules}}
					</ul>
				</li>
				{{/categories}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="lang/{{current_lang}}/flag.png" alt="{{current_lang}}">
						<span class="sidebar-visible-inline">{{lang_language}}</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="?do=Translation">{{lang_translations}}</a></li>
						<li class="dropdown-header">{{lang_language}}</li>
						{{#langs}}
						<li><a href="?lang={{cc}}&amp;url={{url}}"><img src="lang/{{cc}}/flag.png" alt="{{name}}"> {{name}}</a></li>
						{{/langs}}
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right visible-xs visible-lg">
				{{#user}}
				<li><span>{{lang_loggedInPrefix}} {{user}} {{lang_loggedInSuffix}}</span></li>
				<li>
					<form id="logoutForm" method="post" action="?do=Session">
						<input type="hidden" name="token" value="{{token}}">
						<input type="hidden" name="action" value="logout">
						<a href="?do=session" class="btn btn-default btn-xs">{{lang_changePassword}}</a>
						<button class="btn btn-default btn-xs" type="submit">{{lang_logout}}</button>
					</form>
				</li>
				{{/user}}
				{{^user}}
				<li><a href="?do=Session&amp;action=login">{{lang_login}}</a></li>
				{{/user}}
			</ul>

			<ul class="nav navbar-nav navbar-right visible-sm visible-md" style="margin-top:10px">
				<li>
					{{#user}}
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{user}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<!--<li><a href="#">Settings</a></li> -->
							<!--<li role="separator" class="divider"></li> -->
							<li><a href="?do=session">{{lang_changePassword}}</a></li>
							<li><a href="#" onclick="$('#logoutForm').submit();">{{lang_logout}}</a></li>
						</ul>
					{{/user}}
					{{^user}}
						<a type="button" href="?do=Session&amp;action=login" class="btn btn-default">{{lang_login}}</a>
					{{/user}}
				</li>
			</ul>
		</div>
	</div>
	<div class="hidden-lg small">
		<ol class="slx-smallsubmenu">
		{{#categories}}
		{{#modules}}
		{{#subMenu}}
		<li><a href="{{url}}">{{name}}</a></li>
		{{/subMenu}}
		{{/modules}}
		{{/categories}}
		</ol>
	</div>
</nav>

