<h1>{{lang_moduleHeading}}</h1>

{{#rebootTask}}
<div data-tm-id="{{rebootTask}}" data-tm-log="messages">Reboot...</div>
{{/rebootTask}}

<ul class="nav nav-tabs tabs-up">
	<li class="active">
		<a href="#id-default_pane" id="id-default" class="active" data-toggle="tab" role="tab">
			{{lang_overview}}
		</a>
	</li>
	{{#tabs}}
		<li>
			<a href="#id-{{type}}_pane" class="ajax-tab" id="id-{{type}}" data-toggle="tab" role="tab">
				{{name}}
			</a>
		</li>
	{{/tabs}}
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="id-default_pane">
		<div class="row">

			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{lang_space}}
					</div>
					<div class="panel-body" id="diskstat">
						<span class="glyphicon glyphicon-refresh slx-rotation"></span>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{lang_services}}
					</div>
					<div class="panel-body" id="services">
						<span class="glyphicon glyphicon-refresh slx-rotation"></span>
					</div>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{lang_addressConfiguration}}
					</div>
					<div class="panel-body" id="addresses">
						<span class="glyphicon glyphicon-refresh slx-rotation"></span>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{lang_system}}
					</div>
					<div class="panel-body" id="systeminfo">
						<span class="glyphicon glyphicon-refresh slx-rotation"></span>
					</div>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						{{lang_maintenance}}
					</div>
					<div class="panel-body">
						<form class="form-adduser" action="?do=SystemStatus" method="post">
							<input type="hidden" name="token" value="{{token}}">
							<input type="hidden" name="action" value="reboot">
							<button {{^allowedToReboot}}disabled{{/allowedToReboot}} class="btn btn-warning" type="button" data-toggle="modal" data-target="#rebootServerModal"><span class="glyphicon glyphicon-repeat"></span> {{lang_serverReboot}}</button>


							<div class ="modal fade" id="rebootServerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" style="width: 400px" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<b>{{lang_serverReboot}}</b>
										</div>
										<div class="modal-body">
											{{lang_areYouSureReboot}}
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
											<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-repeat"></span> {{lang_serverReboot}}</button>
										</div>
									</div>
								</div>
							</div>

						</form>
						<div id="dmsd-users"></div>
					</div>
				</div>
			</div>

		</div>
	</div>

{{#tabs}}
	<div class="tab-pane" id="id-{{type}}_pane">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
{{/tabs}}
</div>

<div>&nbsp;</div>

<script type="text/javascript"><!--
	document.addEventListener("DOMContentLoaded", function() {
		$('#diskstat').load('?do=SystemStatus&action=DiskStat');
		$('#addresses').load('?do=SystemStatus&action=AddressList');
		$('#systeminfo').load('?do=SystemStatus&action=SystemInfo');
		$('#services').load('?do=SystemStatus&action=Services');
		$('#dmsd-users').load('?do=SystemStatus&action=DmsdUsers');
		var slxDone = {};
		$('.ajax-tab').click(function (e) {
			e.preventDefault();
			var $this = $(this);
			var w = $this.attr('id');
			if (!slxDone[w]) {
				slxDone[w] = true;
				var $pane = $('#' + w + '_pane');
				$pane.load('?do=SystemStatus&action=' + w.substring(3));
			}
		});
	}, false);
//--></script>
