{{#rebootTask}}
<div data-tm-id="{{rebootTask}}" data-tm-log="messages">Reboot...</div>
{{/rebootTask}}

<div class="row">

	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_space}}
			</div>
			<div class="panel-body" id="diskstat">
				<span class="glyphicon glyphicon-refresh slx-rotation"></span>
			</div>
		</div>
	</div>

	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_services}}
			</div>
			<div class="panel-body" id="services">
				<span class="glyphicon glyphicon-refresh slx-rotation"></span>
			</div>
		</div>
	</div>

</div>


<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_addressConfiguration}}
			</div>
			<div class="panel-body" id="addresses">
				<span class="glyphicon glyphicon-refresh slx-rotation"></span>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_system}}
			</div>
			<div class="panel-body" id="systeminfo">
				<span class="glyphicon glyphicon-refresh slx-rotation"></span>
			</div>
		</div>
	</div>

</div>

<div class="row">

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_maintenance}}
			</div>
			<div class="panel-body">
				<form class="form-adduser" action="?do=SystemStatus" method="post">
					<input type="hidden" name="token" value="{{token}}">
					<input type="hidden" name="action" value="reboot">
					<div>Server Reboot</div>
					<label><input type="checkbox" name="confirm" value="yep"> {{lang_iAmSure}}</label>
					<button class="btn btn-warning btn-xs" type="submit">Reboot</button>
				</form>
				<div id="dmsd-users"></div>
			</div>
		</div>
	</div>

</div>

<h3>{{lang_advanced}}</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_dmsdLog}}
	</div>
	<div class="panel-body" id="dmsd-log">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_ldadpLog}}
	</div>
	<div class="panel-body" id="ldadp-log">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_lighttpdLog}}
	</div>
	<div class="panel-body" id="lighttpd-log">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		netstat -tulpn
	</div>
	<div class="panel-body" id="netstat">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		ps auxf
	</div>
	<div class="panel-body" id="pslist">
		<span class="glyphicon glyphicon-refresh slx-rotation"></span>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		$('#diskstat').load('?do=SystemStatus&action=DiskStat');
		$('#addresses').load('?do=SystemStatus&action=AddressList');
		$('#systeminfo').load('?do=SystemStatus&action=SystemInfo');
		$('#services').load('?do=SystemStatus&action=Services');
		$('#dmsd-users').load('?do=SystemStatus&action=DmsdUsers');
		setTimeout(function() {
			$('#dmsd-log').load('?do=SystemStatus&action=DmsdLog');
			$('#netstat').load('?do=SystemStatus&action=Netstat');
			$('#pslist').load('?do=SystemStatus&action=PsList');
			$('#ldadp-log').load('?do=SystemStatus&action=LdadpLog');
			$('#lighttpd-log').load('?do=SystemStatus&action=LighttpdLog');
		}, 300);
	}, false);
</script>
