<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_availableSystem}}
				<a class="btn btn-default" data-toggle="modal" data-target="#help-config"><span class="glyphicon glyphicon-question-sign"></span></a>
			</div>
			<div class="panel-body">
				<form method="post" action="?do=SysConfig">
					<input type="hidden" name="token" value="{{token}}">
					<input type="hidden" name="action" value="config">
					<table id="conftable" class="slx-table" style="max-width:100px !important">
						{{#configs}}
						<tr class="slx-pointer" data-modlist="{{modlist}}" onclick="showmod(this, 'bold')" onmouseover="showmod(this, 'fade')" onmouseout="showmod(this, 'reset')">
							<td class="slx-width-ignore slx-nowrap"><div class="slx-dyn-ellipsis">{{config}}</div></td>
							<td>
								{{^current}}
								<button class="btn btn-primary btn-xs" name="activate" value="{{configid}}">
									<span class="glyphicon glyphicon-flag"></span>
									{{lang_activate}}
								</button>
								{{/current}}
								{{#current}}
								<span class="btn btn-success btn-xs">
									<span class="glyphicon glyphicon-ok"></span>
									{{lang_active}}
								</span>
								{{/current}}
							</td>
							<td class="slx-nowrap">
								<button
									{{#needrebuild}}
									class="btn btn-primary btn-xs"
									{{/needrebuild}}
									{{^needrebuild}}
									class="btn btn-default btn-xs"
									{{/needrebuild}}
									name="rebuild" value="{{configid}}" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></button>
							</td>
							<td>
								<button class="btn btn-danger btn-xs" name="del" value="{{configid}}" title="{{lang_delete}}"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>
						{{/configs}}
					</table>
					{{^configs}}
					<div class="alert alert-warning">
						{{lang_systemConfigurationNotFound}}
					</div>
					{{^modules}}
					<div class="alert alert-danger">
						{{lang_systemConfigurationAlert}}
					</div>
					{{/modules}}
					{{/configs}}
				</form>
			</div>
			{{#havemodules}}
			<div class="panel-footer">			
				<a class="btn btn-primary" href="?do=SysConfig&amp;action=addconfig">{{lang_newConfiguration}}</a>
			</div>
			{{/havemodules}}
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{lang_availableModules}}
				<a class="btn btn-default" data-toggle="modal" data-target="#help-module"><span class="glyphicon glyphicon-question-sign"></span></a>
			</div>
			<div class="panel-body">
				<form method="post" action="?do=SysConfig">
					<input type="hidden" name="token" value="{{token}}">
					<input type="hidden" name="action" value="module">
					<table id="modtable" class="slx-table" style="max-width:100px !important">
						{{#modules}}
						<tr>
							<td class="badge slx-nowrap">{{moduletype}}</td>
							<td data-id="{{moduleid}}" class="modrow slx-width-ignore slx-nowrap"><div class="slx-dyn-ellipsis">{{module}}</div></td>
							<td class="slx-nowrap">
								{{#iscustom}}
								<button class="btn btn-default btn-xs" name="list" value="{{moduleid}}" title="{{lang_show}}"><span class="glyphicon glyphicon-eye-open"></span></button>
								<!-- a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</a -->
								<button class="btn btn-default btn-xs" name="download" value="{{moduleid}}" title="{{lang_download}}"><span class="glyphicon glyphicon-download-alt"></span></button>
								{{/iscustom}}
							</td>
							<td class="slx-nowrap">
								<button
									{{#needrebuild}}
									class="btn btn-primary btn-xs"
									{{/needrebuild}}
									{{^needrebuild}}
									class="btn btn-default btn-xs"
									{{/needrebuild}}
									name="rebuild" value="{{moduleid}}" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></button>
								<a class="btn btn-success btn-xs" href="?do=SysConfig&amp;action=addmodule&amp;step={{moduletype}}_Start&amp;edit={{moduleid}}" title="{{lang_edit}}"><span class="glyphicon glyphicon-edit"></span></a>
								<button class="btn btn-danger btn-xs" name="del" value="{{moduleid}}" title="{{lang_delete}}"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>
						{{/modules}}
					</table>
					{{^modules}}
					<div class="alert alert-warning">{{lang_configurationModuleNotFound}}</div>
					{{/modules}}
				</form>
			</div>
			<div class="panel-footer">
				<a class="btn btn-primary" href="?do=SysConfig&amp;action=addmodule">{{lang_newModule}}</a>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">{{lang_legend}}</div>
	<div class="panel-body">
		<p>
			<span class="btn btn-default btn-xs" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></span>
			{{lang_rebuildLong}}
		</p>
		<p>
			<span class="btn btn-primary btn-xs" title="{{lang_rebuild}}"><span class="glyphicon glyphicon-refresh"></span></span>
			{{lang_rebuildOutdatedLong}}
		</p>
		<p>
			<span class="btn btn-success btn-xs" title="{{lang_edit}}"><span class="glyphicon glyphicon-edit"></span></span>
			{{lang_editLong}}
		</p>
		<div>
			<span class="btn btn-danger btn-xs" title="{{lang_delete}}"><span class="glyphicon glyphicon-trash"></span></span>
			{{lang_deleteLong}}
		</div>
	</div>
</div>

<div class="modal fade" id="help-config" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">{{lang_systemConfiguration}}</div>
			<div class="modal-body">
				{{lang_helpSystemConfiguration}}
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-module" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">{{lang_moduleConfiguration}}</div>
			<div class="modal-body">
				{{lang_helpModuleConfiguration}}
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">{{lang_close}}</a></div>
		</div>
	</div>
</div>

<script type="text/javascript"><!--
	var boldItem = false;
	function showmod(e, action) {
		var list = $(e).attr('data-modlist');
		list = list.split(',');
		if (action === 'bold') {
			$(boldItem).removeClass("slx-bold");
			if (boldItem === e) {
				action = 'fade';
				boldItem = false;
			}
		} else if (boldItem !== false) {
			return;
		}
		$('.modrow').each(function () {
			var elem = $(this);
			elem.removeClass("slx-fade slx-bold");
			if (action === 'reset')
				return;
			if (action === 'bold' && list.indexOf(elem.attr('data-id')) !== -1)
				elem.addClass("slx-bold");
			if (list.indexOf(elem.attr('data-id')) === -1)
				elem.addClass("slx-fade");
		});
		if (action === 'bold') {
			boldItem = e;
			$(e).addClass("slx-bold");
		}
	}
// --></script>