<p>
	{{lang_branding}}
</p>
<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="edit" value="{{edit}}">
	<div class="form-group">
		<label for="input-url">{{lang_urlLoad}}</label>
		<input class="form-control" type="text" name="url" id="input-url">
	</div>
	{{lang_or}}
	<div class="form-group">
		<label for="input-file">{{lang_computerLoad}}</label>
		<input class="form-control" type="file" name="file" id="input-file">
	</div>
	<button type="submit" class="btn btn-primary">{{lang_upload}}</button>
</form>

