<p>
	Unten sehen Sie zur Kontrolle noch einmal das ausgewählte Logo. Sollten Sie das Logo
	nicht sehen können, prüfen Sie bitte, ob Sie ein valides SVG-Bild verwendet haben.
	Alternativ ist es möglich, dass beim Verarbeiten des Bildes ein Fehler auftrat. Sie
	können daher das Modul trotzdem speichern und testen, ob das Logo im bwLehrpool-System
	angezeigt wird.
</p>
<div class="pull-left">
	{{#svg}}
	<img src="data:image/svg+xml;base64,{{svg}}" width="192" height="192">
	{{/svg}}
</div>
<div class="pull-right">
	{{#png}}
	<img src="data:image/png;base64,{{png}}">
	{{/png}}
</div>
<div class="clearfix"></div>
<div>{{error}}</div>
<div>
	<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
		<input type="hidden" name="token" value="{{token}}">
		<div class="form-group">
			<label for="title-id">Titel</label>
			<input type="text" name="title" id ="title-id" class="form-control" placeholder="Name des Moduls">
		</div>
		<button type="submit" class="btn btn-primary">Speichern</button>
	</form>
</div>
