<p>{{lang_customModuleInfo1}}</p>

<p>{{lang_customModuleInfo2}}</p>

<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<input type="hidden" name="token" value="{{token}}">
	<div class="input-group">
		<span class="input-group-addon">{{lang_file}}</span>
		<input class="form-control" type="file" name="modulefile">
	</div>
	<p class="help-block">{{lang_supportedFiles}}: .tar.gz, .tar.bz2, .zip</p>
	<button type="submit" class="btn btn-primary">{{lang_upload}}</button>
</form>
