<p>Über ein benutzerdefiniertes Modul ist es möglich, beliebige Dateien
	zum Linux-Grundsystem, das auf den Clients gebootet wird, hinzuzufügen.
	Dazu kann ein Archiv mit einer Dateisystemstruktur hochgeladen werden, die
	in dieser Form 1:1 in das gebootete Linux extrahiert wird.</p>

<p>Beispiel: Enthält das hochgeladene Archiv eine Datei <strong>etc/beispiel.conf</strong>,
	so wird auf einem gebooteten Client diese Datei als <strong>/etc/beispiel.conf</strong> zu finden sein.</p>

<form role="form" enctype="multipart/form-data" method="post" action="?do=SysConfig&amp;action=addmodule&amp;step={{step}}">
	<div class="input-group">
		<span class="input-group-addon">Archiv</span>
		<input class="form-control" type="file" name="modulefile">
	</div>
	<p class="help-block">Unterstützte Archivformate: .tar.gz, .tar.bz2, .zip</p>
	<button type="submit" class="btn btn-primary">Hochladen</button>
</form>