<div class="panel panel-default">
	<div class="panel-heading">
        <strong>{{lang_faq}}</strong>
    </div>
    <!-- //FAQ -->
    <div class="panel-body" id="accordion" role="tablist" aria-multiselectable="true">

      {{#faq}}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{order}}">
             <h4 class="panel-title">
                 <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{order}}" aria-expanded="false" aria-controls="collapse{{order}}">
                    {{question}}
                </a>
             </h4>
          </div>
          <div id="collapse{{order}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{order}}">
              <div class="panel-body">
                  {{answer}}
             </div>
         </div>
        </div>
      {{/faq}}

      <a class="btn btn-default" href="?do=Support&amp;showfaq=false" role="button"><strong>{{lang_supIntro}}</strong></a>
   </div></div>
</div>


