<div class="container-fluid">
	<h1>{{lang_allExamPeriods}}</h1>

	<div class="row">
		<table class="table">
			<tr>
				<th>{{lang_id}}</th>
				<th>{{lang_locations}}</th>
				<th>{{lang_begin}}</th>
				<th>{{lang_end}}</th>
				<th>{{lang_actions}}</th>
			</tr>
			{{#exams}}
			<tr class="{{rowClass}}">
				<td>{{examid}}</td>
				<td>{{locationnames}} </td>
				<td>{{starttime}}</td>
				<td>{{endtime}}</td>
				<td>
					<form method="POST" action="?do=exams&action=delete" onsubmit="return confirm('{{lang_deleteConfirmation}}');">
						<a href="?do=exams&action=edit&examid={{examid}}" class="btn btn-default btn-sm" >{{lang_edit}}</a>
						<input type="hidden" name="token" value="{{token}}">
						<input type="hidden" name="examid" value="{{examid}}">
						<button class="btn {{btnClass}} btn-sm">{{lang_delete}}</button>
					</form>
				</td>
			</tr>
			{{/exams}}

		</table>
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group" role="group">
				<a href="?do=exams&action=add" class="btn btn-success">{{lang_addExam}}</a>
			</div>
		</div>
	</div>


	<div class="row" style="margin-top: 2em">
		<div id="timeline"></div>
	</div>
</div>
<script type="application/javascript"><!--


function customOrder(a, b) {
	return 1000; // just in order of appeareance
}

document.addEventListener("DOMContentLoaded", function () {
	var container = document.getElementById('timeline');
	var groups_plain = {{{rooms_json}}};
	var items_plain = {{{exams_json}}};
	console.log(groups_plain);
	console.log(items_plain);
	var groups = new vis.DataSet(groups_plain);
	var items = new vis.DataSet(items_plain);

	var language = window.navigator.userLanguage || window.navigator.language;

	var options = {
		'start' 	: {{vis_begin}},
		'end' 		: {{vis_end}},
		'stack' 	: false,
		'editable'	: false,
		'min'		: {{vis_min_date}},
		'max'		: {{vis_max_date}},
		'zoomMin': 6 * 3600 * 1000,
		'zoomMax': 2 * 86400 * 1000,
		'order' 	: customOrder,
		'locale'	: language,
		'moment'	: function(date) { return vis.moment(date).utc(); }
	};

	var timeline = new vis.Timeline(container, items, groups, options);
}, false);

// --></script>
