
<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_allExamPeriods}}
	</div>
	<div class="panel-body">
		<div class="slx-space">
		<form method="POST" action="?do=exams&amp;action=delete">
			<input type="hidden" name="token" value="{{token}}">
			<table class="table stupidtable">
				<thead>
					<tr>
						<th data-sort="int">{{lang_id}}</th>
						<th data-sort="string">{{lang_locations}}</th>
						<th data-sort="int">{{lang_begin}}</th>
						<th data-sort="int">{{lang_end}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#exams}}
					<tr class="{{rowClass}}">
						<td>{{examid}}</td>
						<td>
							{{locationnames}}
							{{^locationnames}}
							<i>{{lang_global}}</i>
							{{/locationnames}}
							{{#lecturename}}
							<div>
								<b>{{lang_autostart}}</b>: {{lecturename}}
							</div>
							{{/lecturename}}
							<div class="small">
								{{description}}
								{{^description}}
								<i>{{lang_noDescription}}</i>
								{{/description}}
							</div>
						</td>
						<td class="text-nowrap" data-sort-value={{starttime}}>{{starttime_s}}</td>
						<td class="text-nowrap" data-sort-value={{endtime}}>{{endtime_s}}</td>
						<td class="text-nowrap text-right">
							{{^liesInPast}}
							<a onclick="slxShow({{starttime}}, {{endtime}})" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a>
							{{/liesInPast}}
							<a href="?do=exams&amp;action=edit&amp;examid={{examid}}" class="btn btn-default btn-sm {{edit.disabled}}">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
							<button type="submit" {{edit.disabled}} class="btn {{btnClass}} btn-sm" name="examid" value="{{examid}}"
									{{^liesInPast}}data-confirm="#confirm-delete" data-title="{{description}}"{{/liesInPast}}>
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
					{{/exams}}
				</tbody>
			</table>
		</form>
		</div>
		<div class="hidden" id="confirm-delete">{{lang_deleteConfirmation}}</div>
		<div class="text-right">
			<div class="btn-group" role="group">
				<a href="?do=exams&action=add" class="btn btn-success {{perms.exams.edit.disabled}}"><span class="glyphicon glyphicon-plus-sign"></span> {{lang_addExam}}</a>
			</div>
		</div>
	</div>
</div>