/* this is based on https://github.com/flatlogic/awesome-bootstrap-checkbox */

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  top: -6px;
}


.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "Glyphicons Halflings";
  content: "\E013";
}

.witherror {
  border: 1px solid red;
}

/*
.table-input-group tr:first-child {
  background: #EEEEEE url("./style/bg.png");
  border-style: solid none solid solid;
  border-radius: 4px 0px 0px 4px;
  border-color: #CCCCCC #555555 #CCCCCC #CCCCCC;
  border-width: 1px 0px 1px 1px;
  color: #555555;
}
*/

.table-input-group {
  border-collapse: separate;
}

.table-input-group tr.input-group {
  display: table-row;
  width: auto;
  border-collapse: separate;
}

.table-input-group tr.input-group td.input-group-addon {
  text-align: left;
  border-collapse: separate;
}

.table-input-group tr.input-group input.form-control {
  width: auto;
}

.table-input-group tr.input-group td:last-child input {
  border-radius: 0px 4px 4px 0px;
}
