.witherror {
  border: 1px solid red;
}

/*
.table-input-group tr:first-child {
  background: #EEEEEE url("./style/bg.png");
  border-style: solid none solid solid;
  border-radius: 4px 0px 0px 4px;
  border-color: #CCCCCC #555555 #CCCCCC #CCCCCC;
  border-width: 1px 0px 1px 1px;
  color: #555555;
}
*/

.table-input-group {
  border-collapse: separate;
}

.table-input-group tr.input-group {
  display: table-row;
  width: auto;
  border-collapse: separate;
}

.table-input-group tr.input-group td.input-group-addon {
  text-align: left;
  border-collapse: separate;
}

.table-input-group tr.input-group input.form-control {
  width: auto;
  min-width: 95px;
}

.table-input-group tr.input-group td:last-child input {
  border-radius: 0px 4px 4px 0px;
}
