<form role="form" method="post" action="?do=VmStore">
	<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="position:absolute;top:-2000px" tabindex="-1">
	<input type="password" name="password_fake" id="password_fake" value=""   style="position:absolute;top:-2000px" tabindex="-1">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="setstore">

	<h1>{{lang_vmLocation}}</h1>

	<p>{{lang_vmLocationChoose}} <a class="btn btn-default" data-toggle="modal" data-target="#help-store"><span class="glyphicon glyphicon-question-sign"></span></a></p>


	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="radio">
				<input type="radio" name="storetype" value="internal" {{pre-internal}} id="id-internal">
				<label for="id-internal">{{lang_internal}}</label>
			</div>
		</div>
		<div class="panel-body">
			{{lang_noAdditionalInformation}}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="radio radio-inline">
				<input type="radio" name="storetype" value="nfs" {{pre-nfs}} id="id-nfs">
				<label for="id-nfs">NFS</label>
			</div>
			<a class="btn btn-default btn-sm" data-toggle="modal" data-target="#help-nfs"><span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="panel-body">
			<label for="nfsaddr">NFS-Export</label>
			<input type="text" class="form-control" name="nfsaddr" value="{{nfsaddr}}" placeholder="1.2.3.4:/export/bwlp" id="nfsaddr">
			<br>
			<label for="nfsopts">{{lang_optionalMountOptions}}</label>
			<input type="text" class="form-control" name="nfsopts" value="{{nfsopts}}" placeholder="vers=4.0,async,nolock" id="nfsopts">
		</div>
	</div>



	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="radio radio-inline">
				<input type="radio" name="storetype" value="cifs" {{pre-cifs}} id="id-cifs">
				<label for="id-cifs">CIFS</label>
			</div>
			<a class="btn btn-default btn-sm" data-toggle="modal" data-target="#help-cifs"><span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="panel-body">
			<label for="cifsaddr">UNC-Pfad</label>
			<input type="text" class="form-control" name="cifsaddr" value="{{cifsaddr}}" placeholder="\\samba.server.example.com\bwlp" id="cifsaddr">
			<br>
			<label for="cifsopts">{{lang_optionalMountOptions}}</label>
			<input type="text" class="form-control" name="cifsopts" value="{{cifsopts}}" placeholder="vers=3.0,sec=ntlmssp,nobrl,nounix" id="cifsopts">
			<br>
			<label for="cifsuser">{{lang_readWrite}}</label>
			<div class="input-group">
				<span class="input-group-addon slx-ga">
					{{lang_username}}
				</span>
				<input type="text" class="form-control" name="cifsuser" value="{{cifsuser}}" placeholder="{{lang_username}}" id="cifsuser">
				<span class="input-group-addon">
					{{lang_password}}
				</span>
				<input type="{{password_type}}" class="form-control" name="cifspasswd" value="{{cifspasswd}}" placeholder="{{lang_password}}">
			</div>
			<br>
			<label for="cifsuserro">{{lang_readOnly}}</label>
			<div class="input-group">
				<span class="input-group-addon slx-ga">
					{{lang_username}}
				</span>
				<input type="text" class="form-control" name="cifsuserro" value="{{cifsuserro}}" placeholder="{{lang_username}}" id="cifsuserro">
				<span class="input-group-addon">
					{{lang_password}}
				</span>
				<input type="{{password_type}}" class="form-control" name="cifspasswdro" value="{{cifspasswdro}}" placeholder="{{lang_password}}">
			</div>
		</div>
	</div>
	<div class="text-right">
		<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
	</div>

</form>

<div class="modal fade" id="help-store" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{lang_vmLocation}}
			</div>
			<div class="modal-body">
				<p>
					{{lang_vmLocationHelp1}}
				</p>
				<p>
					{{lang_vmLocationHelp2}}
				</p>
				<p>
					{{lang_vmLocationHelp3}}
				</p>
				<p>
					{{lang_vmLocationHelp4}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-nfs" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				NFS
			</div>
			<div class="modal-body">
				<p>
					{{lang_nfsHelp1}}
				</p>
				<pre>
/mnt/images    1.2.3.4(rw,no_root_squash,async)
/mnt/images    *(ro,async)
				</pre>
				<p>
					{{lang_nfsHelp2}}
				</p>
				<pre>
/mnt/images    1.2.3.4(rw,all_squash,anonuid=1234,async)
/mnt/images    *(ro,async)
				</pre>
				<p>
					{{lang_nfsHelp3}}
				</p>
				<p>
					{{lang_nfsHelp4}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-cifs" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				CIFS/SMB
			</div>
			<div class="modal-body">
				<p>
					{{lang_cifsHelp1}}
				</p>
				<p>
					{{lang_cifsHelp2}}
				</p>
				<p>
					{{lang_cifsHelp3}}
				</p>
			</div>
		</div>
	</div>
</div>
