<table style="table-layout: fixed; width: 100%" class="table table-striped table-bordered stupidtable">
	<thead>
		<tr>
			<th class="text-nowrap" data-sort="int">{{lang_when}}</th>
			{{#showActor}}
			<th class="text-nowrap" data-sort="string">{{lang_user}}</th>
			{{/showActor}}
			{{#showTarget}}
			<th class="text-nowrap" data-sort="string">{{lang_actionTarget}}</th>
			{{/showTarget}}
			<th class="text-nowrap" data-sort="string">{{lang_event}}</th>
		</tr>
	</thead>
	<tbody>
		{{#events}}
		<tr>
			<td class="text-nowrap" data-sort-value="{{dateline}}">{{dateline_s}}</td>
			{{#showActor}}
			<td style="min-width:140px">
				{{#uuserid}}
				<a href="?do=dozmod&amp;section=actionlog&amp;action=showuser&amp;uuid={{uuserid}}">{{ulastname}}, {{ufirstname}}</a>
				{{/uuserid}}
				{{^uuserid}}
				{{lang_system}}
				{{/uuserid}}
			</td>
			{{/showActor}}
			{{#showTarget}}
			<td style="word-wrap: break-word">
				{{#targeturl}}
				<a href="{{targeturl}}">{{targetname}}</a>
				{{/targeturl}}
				{{^targeturl}}
				{{targetname}}
				{{^targetname}}
				<span class="small">{{targetid}}</span>
				{{/targetname}}
				{{/targeturl}}
			</td>
			{{/showTarget}}
			<td style="word-wrap: break-word">{{description}}</td>
		</tr>
		{{/events}}
	</tbody>
</table>