<h3>{{lang_currentFilter}}</h3>
<table class="table table-bordered table-striped" style="width: auto">
	<tr>
		<th class="text-nowrap">{{lang_user}}</th>
		<td>{{firstname}} {{lastname}}</td>
	</tr>
	<tr>
		<th class="text-nowrap">{{lang_userId}}</th>
		<td>{{userid}}</td>
	</tr>
	<tr>
		<th class="text-nowrap">{{lang_organization}}</th>
		<td>{{orgname}}</td>
	</tr>
	<tr>
		<th class="text-nowrap">{{lang_email}}</th>
		<td><a href="mailto:{{email}}">{{email}}</a></td>
	</tr>
	<tr>
		<th class="text-nowrap">{{lang_lastLogin}}</th>
		<td>{{lastlogin_s}}</td>
	</tr>
</table>