<h1>{{lang_ldapfilters}}</h1>

<p>
	{{lang_ldapfiltersIntro}}
</p>

<form method="post" action="?do=dozmod&section=ldapfilters">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="deleteFilter">
	<table class="table">
		<thead>
		<tr>
			<th class="">{{lang_ldapFilterName}}</th>
			<th class="">{{lang_ldapFilterAttribute}}</th>
			<th class="">{{lang_ldapFilterValue}}</th>
			{{#hasEditPermission}}
			<th class="slx-smallcol">{{lang_edit}}</th>
			<th class="slx-smallcol">{{lang_delete}}</th>
			{{/hasEditPermission}}
		</tr>
		</thead>
		<tbody>
		{{#ldapfilters}}
		<tr>
			<td>{{filtername}}</td>
			<td>{{filterkey}}</td>
			<td>{{filtervalue}}</td>
			{{#hasEditPermission}}
			<td class="text-center">
				<a class="btn btn-xs btn-primary" href="?do=dozmod&amp;section=ldapfilters&amp;show=edit&amp;filterid={{filterid}}">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</td>
			<td class="text-center">
				<button type="submit" name="filterid" value="{{filterid}}" class="btn btn-xs btn-danger"
						  data-confirm="#confirm-delete" data-title="{{filtername}}">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
			{{/hasEditPermission}}
		</tr>
		{{/ldapfilters}}
		</tbody>
	</table>
</form>
<div class="hidden" id="confirm-delete">{{lang_ldapFilterDeleteConfirmation}}</div>

{{#hasEditPermission}}
<div class="text-right">
	<a class="btn btn-sm btn-success" href="?do=dozmod&amp;section=ldapfilters&amp;show=edit">
		<span class="glyphicon glyphicon-plus"></span>
		{{lang_ldapFilterAdd}}
	</a>
</div>
{{/hasEditPermission}}
