<h1>{{lang_networkshares}}</h1>

<p>
	{{lang_networksharesIntro}}
</p>

<table class="table">
	<thead>
		<tr>
			<th>{{lang_name}}</th>
			<th>{{lang_path}}</th>
			<th>{{lang_target}}</th>
			<th>{{lang_authMethod}}</th>
			<th>{{lang_username}}</th>
			{{#hasEditPermissions}}
			<th class="slx-smallcol">{{lang_active}}</th>
			<th class="slx-smallcol">{{lang_edit}}</th>
			<th class="slx-smallcol">{{lang_delete}}</th>
			{{/hasEditPermissions}}
		</tr>
	</thead>
	<tbody>
	{{#networkshares}}
		<tr>
			<td>{{sharename}}</td>
			<td>{{path}}</td>
			<td>{{mountpoint}}</td>
			<td>
				{{#loginAsUser}}{{lang_loggedInUser}}{{/loginAsUser}}
				{{^loginAsUser}}{{lang_specificUser}}{{/loginAsUser}}
			</td>
			<td>
				{{^loginAsUser}}{{username}}{{/loginAsUser}}
			</td>
			{{#hasEditPermissions}}
			<td class="text-nowrap">
				<form method="post" action="?do=dozmod">
					<input type="hidden" name="token" value="{{token}}">
					<input type="hidden" name="section" value="networkshares">
					<input type="hidden" name="shareid" value="{{shareid}}">
					{{#active}}
						<span class="glyphicon glyphicon-ok text-success"></span>
						<button type="submit" name="action" value="deactivate" class="btn btn-xs btn-default">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					{{/active}}
					{{^active}}
						<span class="glyphicon glyphicon-remove text-danger"></span>
						<button type="submit" name="action" value="activate" class="btn btn-xs btn-default">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					{{/active}}
				</form>
			</td>
			<td align="center">
				<a href="?do=dozmod&amp;section=networkshares&amp;show=edit&amp;shareid={{shareid}}" class="btn btn-xs btn-primary">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
			</td>
			<td align="center">
				<form method="post" action="?do=dozmod">
					<input type="hidden" name="token" value="{{token}}">
					<input type="hidden" name="section" value="networkshares">
					<input type="hidden" name="shareid" value="{{shareid}}">
					<button type="submit" name="action" value="delete" class="btn btn-xs btn-danger"
							  data-confirm="#confirm-delete" data-title="{{sharename}}">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</form>
			</td>
			{{/hasEditPermissions}}
		</tr>
	{{/networkshares}}
	</tbody>
</table>
{{#hasEditPermissions}}
<div class="text-right">
	<a href="?do=dozmod&amp;section=networkshares&amp;show=edit" class="btn btn-success {{allowAddShare}}">
		<span class="glyphicon glyphicon-plus"></span>
		{{lang_addShare}}
	</a>
</div>
{{/hasEditPermissions}}

<div class="hidden" id="confirm-delete">{{lang_shareDeleteConfirm}}</div>
