<h1>{{lang_networkrules}}</h1>

<p>
	{{lang_networkrulesIntro}}
</p>

<form method="post" action="?do=dozmod">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="section" value="networkrules">
	<input type="hidden" name="action" value="delete">
	<table class="table">
		<thead>
			<tr>
				<th>{{lang_name}}</th>
				{{#hasEditPermissions}}
				<th class="slx-smallcol">{{lang_edit}}</th>
				<th class="slx-smallcol">{{lang_delete}}</th>
				{{/hasEditPermissions}}
			</tr>
		</thead>
		<tbody>
		{{#networkrules}}
			<tr>
				<td>{{rulename}}</td>
				{{#hasEditPermissions}}
				<td align="center">
					<a href="?do=dozmod&amp;section=networkrules&amp;show=edit&amp;ruleid={{ruleid}}" class="btn btn-xs btn-primary">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</td>
				<td align="center">
					<button type="submit" name="ruleid" value="{{ruleid}}" class="btn btn-xs btn-danger"
							  data-confirm="#confirm-delete" data-title="{{rulename}}">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
				{{/hasEditPermissions}}
			</tr>
		{{/networkrules}}
		</tbody>
	</table>
</form>
<div class="hidden" id="confirm-delete">{{lang_ruleDeleteConfirm}}</div>

{{#hasEditPermissions}}
<div class="text-right">
	<a href="?do=dozmod&amp;section=networkrules&amp;show=edit" class="btn btn-success">
		<span class="glyphicon glyphicon-plus"></span>
		{{lang_addRule}}
	</a>
</div>
{{/hasEditPermissions}}
