<h1>{{lang_scriptsHead}}</h1>

<p>
	{{lang_scriptsIntro}}
</p>

<form method="post" action="?do=dozmod&amp;section=runscripts">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="delete">
	<table class="table">
		<thead>
		<tr>
			<th>{{lang_name}}</th>
			<th class="slx-smallcol">{{lang_scriptExtensionHead}}</th>
			<th class="slx-smallcol">{{lang_scriptVisibilityHead}}</th>
			<th class="slx-smallcol">{{lang_scriptPassCredentialsHead}}</th>
			<th class="slx-smallcol">{{lang_scriptIsGlobalHead}}</th>
			{{#hasEditPermission}}
				<th class="slx-smallcol">{{lang_edit}}</th>
				<th class="slx-smallcol">{{lang_delete}}</th>
			{{/hasEditPermission}}
		</tr>
		</thead>
		<tbody>
		{{#list}}
			<tr>
				<td>{{scriptname}}</td>
				<td>.{{extension}}</td>
				<td><span class="glyphicon glyphicon-{{visibility}}"></span></td>
				<td>
					{{#passcreds}}
						<span class="glyphicon glyphicon-ok"></span>
					{{/passcreds}}
				</td>
				<td>
					{{#isglobal}}
						<span class="glyphicon glyphicon-ok"></span>
					{{/isglobal}}
				</td>
				{{#hasEditPermission}}
					<td class="text-center">
						<a class="btn btn-xs btn-primary" href="?do=dozmod&amp;section=runscripts&amp;show=edit&amp;runscriptid={{runscriptid}}">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
					</td>
					<td class="text-center">
						<button type="submit" name="runscriptid" value="{{runscriptid}}" class="btn btn-xs btn-danger"
								  data-confirm="#confirm-delete" data-title="{{scriptname}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				{{/hasEditPermission}}
			</tr>
		{{/list}}
		</tbody>
	</table>
</form>
<div class="hidden" id="confirm-delete">{{lang_runScriptDeleteConfirmation}}</div>

{{#hasEditPermission}}
	<div class="text-right">
		<a class="btn btn-sm btn-success" href="?do=dozmod&amp;section=runscripts&amp;show=edit&amp;runscriptid=0">
			<span class="glyphicon glyphicon-plus"></span>
			{{lang_runScriptAdd}}
		</a>
	</div>
{{/hasEditPermission}}
