<h1>{{lang_bwlehrpoolsuite}}</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_runtimeConfig}}
	</div>
	<div class="panel-body">
		<legend>{{lang_defaultPermissions}}</legend>
		<p><i>{{lang_descriptionPermissionConfig}}</i></p>
		<form action="?do=DozMod" method="post" id="runtimeconf" role="form">
			<input type="text" name="prevent_autofill" id="prevent_autofill" value="" style="position:absolute;top:-2000px" tabindex="-1">
			<input type="password" name="password_fake" id="password_fake" value="" style="position:absolute;top:-2000px" tabindex="-1">


			<fieldset class="form-group">
				<h4>{{lang_defaultLecturePermissions}}</h4>

				<input type="hidden" 	name="defaultLecturePermissions[edit]" value="0"/>
				<input type="hidden" 	name="defaultLecturePermissions[admin]" value="0"/>

				<div class="checkbox">
					<input type="checkbox"  name="defaultLecturePermissions[admin]" value="1" {{defaultLecturePermissions.admin}} id ="lecture_admin" class="form-control">
					<label>
						{{lang_lecturePermissionAdmin}}
					</label>
				</div>
				<div class="checkbox">
					<input type="checkbox" name="defaultLecturePermissions[edit]" value="1" {{defaultLecturePermissions.edit}} id ="lecture_edit" class="form-control">
					<label>
						{{lang_lecturePermissionEdit}}
					</label>
				</div>

			</fieldset>

			<fieldset class="form-group">
				<h4>{{lang_defaultImagePermissions}}</h4>
				<input type="hidden" 	name="defaultImagePermissions[edit]" value="0"/>
				<input type="hidden" 	name="defaultImagePermissions[admin]" value="0"/>
				<input type="hidden" 	name="defaultImagePermissions[download]" value="0"/>
				<input type="hidden" 	name="defaultImagePermissions[link]" value="0"/>

				<div class="checkbox">
					<input type="checkbox"  name="defaultImagePermissions[admin]" value="1" {{defaultImagePermissions.admin}} id="image_admin" class="form-control">
					<label for="image_admin">
						{{lang_defaultImagePermissionAdmin}}
					</label>
				</div>
				<div class="checkbox">
						<input type="checkbox" name="defaultImagePermissions[edit]" value="1" {{defaultImagePermissions.edit}} id="image_edit" class="form-control">
					<label for="image_edit">
						{{lang_defaultImagePermissionEdit}}
					</label>
				</div>
				<div class="checkbox">
					<input type="checkbox"  name="defaultImagePermissions[download]" value="1" {{defaultImagePermissions.download}} id="image_download" class="form-control">
					<label for="image_download">
						{{lang_defaultImagePermissionDownload}}
					</label>
				</div>
				<div class="checkbox">
					<input type="checkbox"  name="defaultImagePermissions[link]" value="1" {{defaultImagePermissions.link}} id="image_link" class="form-control">
					<label for="image_link">
						{{lang_defaultImagePermissionLink}}
					</label>
				</div>
			</fieldset>

			<fieldset>
				<legend>{{lang_runtimeConfigLimits}}</legend>
				<p><i>{{lang_descriptionRuntimeLimits}}</i></p>
				<table class="table-input-group">
					<tr class="input-group">
						<td class="input-group-addon">{{lang_maxImageValidity}}</td>
						<td>
							<input name="maxImageValidityDays"
							class="form-control" type="number"
							value="{{maxImageValidityDays}}" min="7" max="9999" pattern="^\d+$">
						</td>
					</tr>
					<tr class="input-group">
						<td class="input-group-addon">{{lang_maxLectureVisibility}}</td>
						<td>
							<input name="maxLectureValidityDays"
							class="form-control" type="number"
							value="{{maxLectureValidityDays}}" min="1" max="9999" pattern="^\d+$">
						</td>
					</tr>
					<tr class="input-group">
						<td class="input-group-addon">{{lang_maxLocationsPerLecture}}</td>
						<td>
							<input name="maxLocationsPerLecture" class="form-control" type="number" value="{{maxLocationsPerLecture}}" min="0" max="999" pattern="^\d+$">
						</td>
					</tr>
					<tr class="input-group">
						<td class="input-group-addon">{{lang_maxTransfers}}</td>
						<td>
							<input name="maxTransfers" class="form-control" type="number" value="{{maxTransfers}}" min="1" max="10" pattern="^\d+$">
						</td>
					</tr>
				</table>
			</fieldset>
			<br/>
			<fieldset>
				<legend>{{lang_miscOptions}}</legend>
				<div class="checkbox">
					<input type="hidden" 	name="allowLoginByDefault" value="0">
					<input type="checkbox"  name="allowLoginByDefault" value="1" {{allowLoginByDefault}} id="allowLoginByDefault" class="form-control">
					<label for="allowLoginByDefault">
						{{lang_allowLoginByDefault}}
					</label>
					<p><i>{{lang_allowLoginDescription}}</i></p>
				</div>
			</fieldset>

			<br>
			<input type="hidden" name="token" value="{{token}}">
			<input type="hidden" name="action" value="runtime">
			<div class="text-right">
				<button class="btn btn-primary" type="submit" name="button" value="save"><span class="glyphicon glyphicon-floppy-disk"></span> {{lang_save}}</button>
			</div>
		</form>
	</div>
</div>
