#dataTable {
    margin-top: 20px;
}


#shutdownTimer {
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

div.loc {
    margin: 1px 2px;
    border-radius: 2px;
    padding: 1px 3px;
    background: #eee;
    float: left;
}