.rebootTimerForm {
    margin-top: 20px;
}

.statusColumn {
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
    height: 50px;
}

.checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.select-button {
    min-width: 150px;
}

#dataTable {
    margin-top: 20px;
}


#shutdownTimer {
    text-align: center;
}

pre {
    white-space: pre-wrap;
}

th[data-sort] {
    cursor: pointer;
}