<h2>{{lang_bootentryHead}}</h2>

<p>
	{{lang_bootentryIntro}}
</p>

<form method="post" action="?do=serversetup">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="deleteBootentry">
	<table class="table">
		<thead>
		<tr>
			<th>{{lang_entryId}}</th>
			<th>{{lang_bootentryTitle}}</th>
			<th>{{lang_hotkey}}</th>
			<th class="slx-smallcol">{{lang_refCount}}</th>
			<th class="slx-smallcol">{{lang_edit}}</th>
			{{#allowEdit}}<th class="slx-smallcol">{{lang_copy}}</th>{{/allowEdit}}
			<th class="slx-smallcol">{{lang_delete}}</th>
		</tr>
		</thead>
		<tbody>
		{{#bootentryTable}}
		<tr>
			<td>
				{{entryid}}
			</td>
			<td>
				{{title}}
			</td>
			<td>
				{{hotkey}}
			</td>
			<td align="right">
				{{refs}}
			</td>
			<td align="center">
				<a href="?do=serversetup&amp;show=editbootentry&amp;id={{entryid}}" class="btn btn-xs btn-default">
					<span class="glyphicon glyphicon-{{#allowEdit}}edit{{/allowEdit}}{{^allowEdit}}eye-open{{/allowEdit}}"></span>
				</a>
			</td>
			{{#allowEdit}}
			<td align="center">
				<a href="?do=serversetup&amp;show=editbootentry&amp;id={{entryid}}&copy=true" class="btn btn-xs btn-default">
					<span class="glyphicon glyphicon-duplicate"></span>
				</a>
			</td>
			{{/allowEdit}}
			<td align="center">
				{{#allowEdit}}
					{{^builtin}}
						<button type="submit" name="deleteid" value="{{entryid}}" class="btn btn-xs btn-danger"
								  data-confirm="#confirm-delete" data-title="{{title}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					{{/builtin}}
				{{/allowEdit}}
			</td>
		</tr>
		{{/bootentryTable}}
		</tbody>
	</table>
</form>
<div class="hidden" id="confirm-delete">{{lang_bootentryDeleteConfirm}}</div>
<div class="pull-right">
	{{#allowEdit}}
		<a href="?do=serversetup&amp;show=editbootentry" class="btn btn-success">
			<span class="glyphicon glyphicon-plus"></span>
			{{lang_addBootentry}}
		</a>
	{{/allowEdit}}
</div>

<div class="clearfix"></div>
