<div class="panel panel-default">
	<div class="panel-heading">
		{{lang_bootAddress}}
	</div>
	<div class="panel-body">
		<div class="{{chooseHintClass}}">
			{{lang_chooseIP}}
		</div>
		<form method="post" action="?do=ServerSetup">
			<input type="hidden" name="action" value="ip">
			<input type="hidden" name="token" value="{{token}}">
			<table class="slx-table">
				{{#ips}}
				<tr>
					<td>{{ip}}</td>
					{{#default}}
					<td>
						<span class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> {{lang_active}}</span>
					</td>
					{{/default}}
					{{^default}}
					<td>
						<button class="btn btn-primary btn-xs" name="ip" value="{{ip}}" {{disabled}}>
							<span class="glyphicon glyphicon-flag"></span>
							{{lang_set}}
						</button>
					</td>
					{{/default}}
				</tr>
				{{/ips}}
			</table>
		</form>
	</div>
	<div class="panel-body">
		<p>
			{{lang_recompileHint}}
		</p>
		<form method="post" action="?do=ServerSetup">
			<input type="hidden" name="token" value="{{token}}">
			<button class="btn btn-default" name="action" value="compile" {{disabled}}>
				<span class="glyphicon glyphicon-refresh"></span>
				{{lang_forceRecompile}}
			</button>
		</form>
	</div>
</div>