<h2>{{lang_localBootHead}}</h2>

<p>{{lang_localBootIntro}}</p>

<form method="post" action="?do=serversetup">

	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="savelocalboot">

	<br>
	<div class="form-group">
		<p>
			{{lang_localBootDefault}}
		<p>
		<label for="default-pcbios">
			PCBIOS
		</label>
		<select id="default-pcbios" class="form-control" name="default-pcbios">
			{{#options.PCBIOS}}
			<option {{selected}}>{{key}}</option>
			{{/options.PCBIOS}}
		</select>
		<label for="default-efi">
			EFI
		</label>
		<select id="default-efi" class="form-control" name="default-efi">
			{{#options.EFI}}
			<option {{selected}}>{{key}}</option>
			{{/options.EFI}}
		</select>
	</div>

	<br>
	<h3>
			{{lang_localBootExceptions}}
	</h3>
	<table class="table">
		<tr>
			<th>{{lang_systemmodel}}</th>
			<th class="slx-smallcol">{{lang_count}}</th>
			<th style="width:150px">PCBIOS</th>
			<th style="width:150px">EFI</th>
		</tr>
		{{#exceptions}}
			<tr>
				<td><a href="?do=statistics&show=list&filters=systemmodel+%3D+{{systemmodel}}">{{systemmodel}}</a></td>
				<td class="text-right">{{cnt}}</td>
				<td>
					<select class="form-control" name="override[{{systemmodel}}][PCBIOS]">
						<option value="" {{^bootmethod}}selected{{/bootmethod}}>{{lang_none}}</option>
						{{#options.PCBIOS}}
						<option {{selected}}>{{key}}</option>
						{{/options.PCBIOS}}
					</select>
				</td>
				<td>
					<select class="form-control" name="override[{{systemmodel}}][EFI]">
						<option value="" {{^bootmethod}}selected{{/bootmethod}}>{{lang_none}}</option>
						{{#options.EFI}}
						<option {{selected}}>{{key}}</option>
						{{/options.EFI}}
					</select>
				</td>
			</tr>
		{{/exceptions}}
	</table>

	<div class="text-right">
		<button class="btn btn-warning" type="reset">
			<span class="glyphicon glyphicon-refresh"></span>
			{{lang_reset}}
		</button>
		<button class="btn btn-primary" type="submit">
			<span class="glyphicon glyphicon-floppy-disk"></span>
			{{lang_save}}
		</button>
	</div>

</form>
