<h2>{{lang_listOfMenus}}</h2>

<p>
	{{lang_menuListIntro}}
</p>

<table class="table">
	<thead>
	<tr>
		<th>{{lang_menuTitle}}</th>
		<th class="slx-smallcol">{{lang_locationCount}}</th>
		<th class="slx-smallcol">{{lang_isDefault}}</th>
		<th class="slx-smallcol">{{lang_edit}}</th>
		<th class="slx-smallcol">{{lang_delete}}</th>
	</tr>
	</thead>
	<tbody>
	{{#menuTable}}
		<tr>
			<td>
				{{title}}
			</td>
			<td class="text-right">
				<span class="badge" data-toggle="tooltip" data-placement="top" title="{{locnames}}">{{locationCount}}</span>
			</td>
			<td align="center">
				{{^isdefault}}
					{{#showSetDefault}}
					<form method="post" action="?do=serversetup">
						<input type="hidden" name="token" value="{{token}}">
						<input type="hidden" name="menuid" value="{{menuid}}">
						<button type="submit" name="action" value="setDefaultMenu" class="btn btn-xs btn-info">
							<span class="glyphicon glyphicon-flag"></span>
						</button>
					</form>
					{{/showSetDefault}}
				{{/isdefault}}
				{{#isdefault}}
					<span class="glyphicon glyphicon-ok"></span>
				{{/isdefault}}
			</td>
			<td align="center">
				{{#allowEdit}}
					<a href="?do=serversetup&amp;show=editmenu&amp;id={{menuid}}" class="btn btn-xs btn-default">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				{{/allowEdit}}
			</td>
			<td align="center">
				{{#allowEdit}}
					<form method="post" action="?do=serversetup">
						<input type="hidden" name="token" value="{{token}}">
						<input type="hidden" name="deleteid" value="{{menuid}}">
						<button type="submit" name="action" value="deleteMenu" class="btn btn-xs btn-danger"
								  data-confirm="#confirm-delete" data-title="{{title}}">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</form>
				{{/allowEdit}}
			</td>
		</tr>
	{{/menuTable}}
	</tbody>
</table>
<div class="pull-right">
	<a href="?do=serversetup&amp;show=editmenu&amp;id=0" class="btn btn-success {{allowAddMenu}}">
		<span class="glyphicon glyphicon-plus"></span>
		{{lang_addMenu}}
	</a>
</div>

<div class="hidden" id="confirm-delete">{{lang_menuDeleteConfirm}}</div>
<div class="clearfix"></div>
