<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="?do=Main">OpenSLX Admin</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{lang_settings}}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">{{lang_client}}</li>
						<li><a href="?do=SysConfig">{{lang_localization}}</a></li>
						<li><a href="?do=MiniLinux">bwLehrpool Mini-Linux</a></li>
						<li><a href="?do=BaseConfig">{{lang_configurationVariables}}</a></li>
						<li><a href="?do=Translation">{{lang_administration}}</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">{{lang_server}}</li>
						<li><a href="?do=ServerSetup">{{lang_configurationBasic}}</a></li>
						<li><a href="?do=VmStore">{{lang_vmLocation}}</a></li>
					</ul>
				</li>
				<li><a href="?do=News">{{lang_news}}</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{lang_status}}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="?do=SystemStatus">{{lang_serverStatus}}</a></li>
						<li><a href="?do=SysLog">{{lang_clientLog}}</a></li>
						<li><a href="?do=EventLog">{{lang_eventLog}}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="lang/{{current_lang}}/flag.png"><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">{{lang_language}}</li>
						{{#langs}}
						<li><a href="?lang={{cc}}&amp;url={{url}}"><img src="lang/{{cc}}/flag.png" alt="{{name}}"> {{name}}</a></li>
						{{/langs}}
					</ul>
				</li>
				{{#dbupdate}}
				<li><a href="api.php?do=update"><span class="slx-warning-badge badge"><span class="glyphicon glyphicon-exclamation-sign"></span> DB-Update</span></a></li>
				{{/dbupdate}}
				{{#warning}}
				<li><a href="?do=EventLog"><span class="slx-warning-badge badge"><span class="glyphicon glyphicon-exclamation-sign"></span> {{lang_warning}}</span></a></li>
				{{/warning}}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#user}}
				<li><a href="?do=Session&amp;action=logout&amp;token={{{token}}}"><b>{{user}}</b> ({{lang_logout}})</a></li>
				{{/user}}
				{{^user}}
				<li><a href="?do=Session&amp;action=login">{{lang_login}}</a></li>
				{{/user}}
			</ul>
		</div>
	</div>
</div>

