<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="?do=Main">OpenSLX Admin</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#about">Hilfe</a></li>
				<li><a href="?do=SysLog">Client Logs</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Einstellungen<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Client</li>
						<li><a href="?do=MiniLinux">MiniLinux</a></li>
						<li><a href="?do=BaseConfig">KonfigurationsVariablen</a></li>
						<li><a href="?do=SysConfig">SystemKonfiguration</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Server</li>
						<li><a href="?do=ServerSetup">Grundkonfiguration</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{{loginPanel}}}
			</ul>
		</div>
	</div>
</div>

