<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Verfügbare Systemkonfigurationen
			<a class="btn btn-default" data-toggle="modal" data-target="#help-config"><span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="panel-body">
			<form method="post" action="?do=SysConfig">
				<input type="hidden" name="token" value="{{token}}">
				<input type="hidden" name="action" value="config">
				<table class="slx-table">
				{{#configs}}
					<tr>
						<td>{{config}}</td>
						<td>
							{{^current}}
								<button class="btn btn-primary btn-xs" name="activate" value="{{configid}}">
									<span class="glyphicon glyphicon-flag"></span>
									Aktivieren
								</button>
							{{/current}}
							{{#current}}
								<span class="btn btn-success btn-xs">
									<span class="glyphicon glyphicon-ok"></span>
									Aktiv
								</span>
							{{/current}}
						</td>
						<td>
							<button class="btn btn-danger btn-xs" name="del" value="{{configid}}"><span class="glyphicon glyphicon-trash"></span> Löschen</button>
						</td>
					</tr>
				{{/configs}}
				</table>
				{{^configs}}
				<div class="alert alert-warning">
					Keine Systemkonfigurationen gefunden.
					<br>Erstellen Sie eine neue Konfiguration aus den unten aufgeführten Konfigurationsmodulen.
				</div>
				{{/configs}}
			</form>
		</div>
		<div class="panel-footer">
			<a class="btn btn-primary" href="?do=SysConfig&amp;action=addconfig">Neue Konfiguration</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Verfügbare Konfigurationsmodule
			<a class="btn btn-default" data-toggle="modal" data-target="#help-module"><span class="glyphicon glyphicon-question-sign"></span></a>
		</div>
		<div class="panel-body">
			<form method="post" action="?do=SysConfig">
				<input type="hidden" name="token" value="{{token}}">
				<input type="hidden" name="action" value="module">
				<table class="slx-table">
				{{#modules}}
					<tr>
						<td>{{module}}</td>
						<td>
							<!-- a class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Bearbeiten</a -->
						</td>
						<td>
							<button class="btn btn-danger btn-xs" name="del" value="{{moduleid}}"><span class="glyphicon glyphicon-trash"></span> Löschen</button>
						</td>
					</tr>
				{{/modules}}
				</table>
				{{^modules}}
				<div class="alert alert-warning">Keine Konfigurationsmodule gefunden!</div>
				{{/modules}}
			</form>
		</div>
		<div class="panel-footer">
			<a class="btn btn-primary" href="?do=SysConfig&amp;action=addmodule">Neues Modul</a>
		</div>
	</div>
</div>

<div class="modal fade" id="help-config" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">Systemkonfiguration</div>
			<div class="modal-body">
				Über eine Systemkonfiguration wird die grundlegende Lokalisierung des bwLehrpool-Systems
				durchgeführt. Dazu gehören Aspekte wie das Authentifizierungsverfahren für Benutzer
				(z.B. Active Directory, LDAP), Druckerkonfiguration, Home-Verzeichnisse, etc.<br>
				Eine Systemkonfiguration setzt sich aus einem oder mehreren Konfigurationsmodulen zusammen,
				welche im unteren Bereich dieser Seite verwaltet werden können.
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">Schließen</a></div>
		</div>
	</div>
</div>

<div class="modal fade" id="help-module" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">Konfigurationsmodule</div>
			<div class="modal-body">
				Konfigurationsmodule sind die Bausteine, aus denen eine Systemkonfiguration erstellt wird.
				Hier lassen sich sowohl generische Module durch einen Wizard anlegen, als auch komplett eigene
				Module erstellen (fortgeschritten, Linuxkenntnisse erforderlich).
			</div>
			<div class="modal-footer"><a class="btn btn-primary" data-dismiss="modal">Schließen</a></div>
		</div>
	</div>
</div>