<div class="container" id="systemlist">
	<div class="panel panel-default">Liste wird abgerufen...</div>
	<script type="text/javascript">
		var slx_check = setInterval(function() {
			if (typeof $ === 'undefined') return;
			clearInterval(slx_check);
			$('#systemlist').load('{{{listurl}}}', function( response, status, xhr ) {
				if ( status === "error" ) {
					var msg = "Fehler beim Abruf: ";
					$( "#systemlist" ).html( msg + xhr.status + " " + xhr.statusText );
				}
			})
		}, 100);
	</script>
</div>