<div class="container">
	<form class="form-adduser" action="?do=AddUser" method="post">
		<h2 class="form-signin-heading">Benutzer anlegen</h2>
		<div class="row">
			<div class="col-md-4">Benutzerkennung</div>
			<div class="col-md-4"><input type="text" name="user" value="{{user}}" class="form-control" placeholder="Benutzerkennung" autofocus></div>
		</div>
		<div class="row">
			<div class="col-md-4">Passwort</div>
			<div class="col-md-4"><input type="password" name="pass1" class="form-control" placeholder="Passwort"></div>
			<div class="col-md-4"><input type="password" name="pass2" class="form-control" placeholder="Wiederholen"></div>
		</div>
		<div class="row">
			<div class="col-md-4">Vollständiger Name</div>
			<div class="col-md-4"><input type="text" name="fullname" value="{{fullname}}" class="form-control" placeholder="Max Mustermann"></div>
		</div>
		<div class="row">
			<div class="col-md-4">Telefon</div>
			<div class="col-md-4"><input type="text" name="phone" value="{{phone}}" class="form-control" placeholder="Durchwahl"></div>
		</div>
		<div class="row">
			<div class="col-md-4">E-Mail</div>
			<div class="col-md-4"><input type="text" name="email" value="{{email}}" class="form-control" placeholder="spam@aol.com"></div>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Benutzer anlegen</button>
		<input type="hidden" name="action" value="adduser">
	</form>
</div>
