<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			Bitte die IP-Adresse auswählen, über die der Server von den Clients angesprochen wird.
		</div>
		{{#ips}}
			<div class="panel-body">{{ip}}
				<span>
					<a class="btn btn-success" href="#" onclick="this.parentNode.style.display='none';loadContent('#compiler', 'api.php?do=exec&amp;type=ipxe&amp;ip={{ip}}&amp;id=compiler&amp;default=hddboot')">Kompilieren (HDD Default)</a>
					<a class="btn btn-success" href="#" onclick="this.parentNode.style.display='none';loadContent('#compiler', 'api.php?do=exec&amp;type=ipxe&amp;ip={{ip}}&amp;id=compiler&amp;default=openslx')">Kompilieren (OpenSLX Default)</a>
					{{#current}}(Aktuelle Konfiguration){{/current}}
				</span>
			</div>
		{{/ips}}
	</div>
	<div id="compiler">
	</div>
	{{^ips}}
		<div class="alert alert-danger">Konnte lokale IP-Adressen nicht ermitteln.</div>
	{{/ips}}
</div>
