<div class="container">
	<h1>Client Log</h1>
	<form method="post" action="?do=syslog">
		<div class="input-group">
			<span class="input-group-addon">Filter</span>
			<input id="filterstring" type="text" class="form-control" placeholder="event-id" value="{{filter}}" name="filter">
			<span class="input-group-addon">
				<input type="checkbox" name="not" {{#not}}checked="checked"{{/not}}> not
			</span>
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Los</button>
			</span>
		</div>
	</form>
	<table class="table table-striped table-condensed">
		<thead>
			<th></th>
			<th>Wann</th>
			<th>Client</th>
			<th>Ereignis</th>
			<th>Details</th>
		</thead>
		<tbody>
		{{#list}}
			<tr>
				<td><span class="glyphicon glyphicon-off" title="{{logtypeid}}" onclick="$('#filterstring').val($('#filterstring').val() + ' {{logtypeid}}')"></span></td>
				<td class="text-right" nowrap="nowrap">{{date}}</td>
				<td>{{clientip}}</td>
				<td>{{description}}</td>
				<td>{{#extra}}<a class="btn btn-default btn-xs pull-left" data-toggle="collapse" data-target="#extra{{logid}}">&raquo;</a>{{/extra}}</td>
			</tr>
			<tr class="collapse" id="extra{{logid}}">
				<td colspan="5"><pre>{{extra}}</pre></td>
			</tr>
		{{/list}}
		</tbody>
	</table>
</div>

