<ol class="breadcrumb">
	<li><a href="?do=main">Start</a></li>
	<li class="active">SystemKonfiguration</li>
</ol>
<div class="container">
	{{#files}}
		<div class="row well well-sm">
			{{file}}
			{{^current}}
				<a class="btn btn-primary" href="?do=sysconfig&amp;action=activate&amp;file={{file}}&amp;token={{token}}">Aktivieren</a>
			{{/current}}
			{{#current}}
				<span class="btn btn-success">Bereits aktiv</span>
			{{/current}}
		</div>
	{{/files}}
	{{^files}}
		<div class="row well well-sm">Keine Konfigurationspakete gefunden!</div>
	{{/files}}
	<a class="btn btn-lg btn-primary" href="?do=sysconfig&amp;action=remotelist">Konfigurationen herunterladen</a>
	<a class="btn btn-lg btn-primary" href="#" data-toggle="collapse" data-target="#uploadform">Eigene Konfiguration hochladen</a>
	<div class="collapse" id="uploadform">
		<div class="well well-sm" style="margin: 5px 0px">
			<form method="post" action="?do=sysconfig" enctype="multipart/form-data">
				<input type="file" size="40" class="form-control" name="customtgz">
				<input type="hidden" name="action" value="upload">
				<input type="hidden" name="token" value="{{token}}">
				<button class="btn btn-primary form-control-addon" type="submit">Hochladen</button>
			</form>
		</div>
	</div>
</div>
