<div class="jumbotron">
	<h1>Willkommen, {{user}}</h1>
	<p>Dies ist die bwLehrpool Konfigurationsoberfläche.</p>
</div>
<ul class="list-group">
{{#ipxe}}
	<li class="list-group-item list-group-item-info">
		Das Bootmenü ist veraltet oder wurde noch nicht generiert.
		<a class="btn btn-sm btn-primary" href="?do=ServerSetup">Konfigurieren &raquo;</a>
	</li>
{{/ipxe}}
{{#minilinux}}
	<li class="list-group-item list-group-item-info">
		Wichtige Dateien der MiniLinux-Installation fehlen.
		<a class="btn btn-sm btn-primary" href="?do=MiniLinux">MiniLinux &raquo;</a>
	</li>
{{/minilinux}}
{{#sysconfig}}
	<li class="list-group-item list-group-item-info">
		Es wurde noch keine Systemkonfiguration ausgewählt.
		<a class="btn btn-sm btn-primary" href="?do=SysConfig">Systemkonfiguration &raquo;</a>
	</li>
{{/sysconfig}}
</ul>