<h1>{{lang_backupRestore}}</h1>

<form action="?do=Backup" method="post">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="backup">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_backup}}</div>
		<div class="panel-body">
			<p>{{lang_backupDescription}}</p>
			<button class="btn btn-primary" type="submit">{{lang_download}}</button>
		</div>
	</div>
</form>

<form action="?do=Backup" method="post" enctype="multipart/form-data">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="restore">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_restore}}</div>
		<div class="panel-body">
			<p>{{lang_restoreDescription}}</p>
			<div class="input-group upload-ex">
				<input type="text" class="form-control" readonly placeholder="{{lang_selectFile}}">
				<span class="input-group-btn">
					<span class="btn btn-default btn-file">
						{{lang_browseForFile}}&hellip; <input type="file" name="backupfile">
					</span>
				</span>
			</div>
			<div>
				<label><input type="checkbox" name="restore_openslx" checked="checked"> {{lang_restoreSystemConfig}}</label>
				<p><i>{{lang_systemExplanation}}</i></p>
			</div>
			<div>
				<label><input type="checkbox" name="restore_dozmod" checked="checked"> {{lang_restoreDozmodConfig}}</label>
				<p><i>{{lang_dozmodExplanation}}</i></p>
			</div>
			<button class="btn btn-primary" type="submit">{{lang_restore}}</button>
		</div>
	</div>
</form>