<div class="panel panel-default">
	<div class="panel-heading">{{lang_backup}}</div>
	<div class="panel-body">
		<div id="zeug">
			<div data-tm-id="{{syncid}}" data-tm-log="messages">{{lang_stopping}} syncdaemon</div>
			<div data-tm-id="{{dmsdid}}" data-tm-log="messages">{{lang_stopping}} dmsd</div>
			<div data-tm-id="{{ldadpid}}" data-tm-log="messages">{{lang_stopping}} ldadp</div>
			<div data-tm-id="{{mountid}}" data-tm-log="messages">{{lang_stopping}} vmstore</div>
			<div data-tm-id="{{restoreid}}" data-tm-log="messages" data-tm-callback="restoreCb">{{lang_restoreConfig}}</div>
			<div data-tm-id="{{rebootid}}" data-tm-log="messages">{{lang_reboot}}</div>
		</div>
		<div id="restorefailed" class="alert alert-danger" style="display:none">
			{{lang_restoreFailed}}
		</div>
	</div>
</div>

<script type="text/javascript">
	function restoreCb(task)
	{
		if (!task || !task.statusCode)
			return;
		if (task.statusCode === 'TASK_ERROR') {
			$('#restorefailed').show('slow');
		}
	}
</script>
