.mod-nav {
    width: 250px;
    float: left;
    margin-right: 4px;
    border-right: solid 1px #DDD;
    padding: 4px;
    height: 545px;
    overflow: auto;
}

.item {
    padding: 4px;
    margin: 3px 0;
    border-radius: 3px;
}

.item:HOVER {
    background-color: #EEE;
    cursor: pointer;
}

.item-link {
    color: #5893C6;
}

.item-lock {
    color: #939393;
}

.dir-icon {
    color: #2E6DA4;
}

.folder {
    padding-left: 16px;
    display: none;
    border-left: dashed 1px #CCC;
}

#editor-header{
    display: block;
    float: none;
    width: 875px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.mod-editor{
    display: block;
    float: none;
    resize: none;
    width: 875px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

textarea.form-control .editor-box{
    height: 520px;
}
