<div class="page-header">
	<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-settings">
		<span class="glyphicon glyphicon-cog"></span> {{lang_settings}}
	</button>

	<div id="modal-settings" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="?do=syslog">
					<input type="hidden" name="token" value="{{token}}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><b>{{lang_settings}}</b></h4>
					</div>
					<div class="modal-body">
						<p>{{lang_anonDaysDescription}}</p>
						<input {{perms.configure-anonymization.disabled}} class="form-control" type="number" name="anondays"
								value="{{anondays}}" min="0" max="180">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">{{lang_cancel}}</button>
						<button {{perms.configure-anonymization.disabled}} type="submit"
								class="btn btn-primary">
							<span class="glyphicon glyphicon-floppy-disk"></span>
							{{lang_save}}
						</button>
					</div>
				</form>
			</div>

		</div>
	</div>

	<h1>{{lang_clientLog}}</h1>
</div>