<div class="slx-storechart">
	{{#system}}
	<b>{{lang_systemPartition}}</b>
	<div id="circles-system"></div>
	<div>{{lang_capacity}}: {{size}}</div>
	<div>{{lang_free}}: {{free}}</div>
	{{/system}}
	{{^system}}
	<b>{{lan_availableMemoryError}}</b>
	{{/system}}
</div>
<div class="slx-storechart">
	{{#store}}
	<b>{{lang_vmStore}}</b>
	<div id="circles-store"></div>
	<div>{{lang_capacity}}: {{size}}</div>
	<div>{{lang_free}}: {{free}}</div>
	{{/store}}
	{{^store}}
	<b>{{lang_vmStoreError}}</b>
	{{/store}}
</div>
<div class="clearfix"></div>
<div>{{storeError}}</div>
<script type="text/javascript">
	{{#store}}
	Circles.create({
	id:         'circles-store',
			  radius:     60,
			  value:      {{{percent}}},
			  maxValue:   100,
			  width:      10,
			  text:       function(value){return value + '%'; },
			  colors:     ['#D3B6C6', '#{{color}}'],
			  duration:   400,
			  wrpClass:   'circles-wrp',
			  textClass:  'circles-text'
			  });
	{{/store}}
	{{#system}}
	Circles.create({
	id:         'circles-system',
			  radius:     60,
			  value:      {{{percent}}},
			  maxValue:   100,
			  width:      10,
			  text:       function(value){return value + '%'; },
			  colors:     ['#D3B6C6', '#{{color}}'],
			  duration:   400,
			  wrpClass:   'circles-wrp',
			  textClass:  'circles-text'
			  });
	{{/system}}
</script>
