<div>
	{{lang_uptimeOS}}: {{uptime}}
</div>

<div class="slx-storechart">
	<b>{{lang_cpuLoad}}</b>
	{{#cpuLoadOk}}
	<div id="circles-cpuload"></div>
	<div>{{lang_average}}: {{cpuLoad}}%</div>
	<div>{{lang_onlyOS}}: {{cpuSystem}}%</div>
	<div>{{lang_logicCPUs}}: {{cpuCount}}</div>
	{{/cpuLoadOk}}
	{{^cpuLoadOk}}
	{{lang_notDetermined}}
	{{/cpuLoadOk}}
</div>
			
<div class="slx-storechart">
	<b>{{lang_ramUsage}}</b>
	{{#memTotal}}
	<div id="circles-mem"></div>
	<div>{{lang_total}}: {{memTotal}}</div>
	<div>{{lang_free}}: {{memFree}}</div>
	{{/memTotal}}
	{{^memTotal}}
	{{lang_notDetermined}}
	{{/memTotal}}
</div>
		
<div class="slx-storechart">
	<b>{{lang_swapUsage}}</b>
	{{#memTotal}}
	<div id="circles-swap"></div>
	<div>{{lang_total}}: {{swapTotal}}</div>
	<div>{{lang_occupied}}: {{swapUsed}}</div>
	{{/memTotal}}
	{{^memTotal}}
	{{lang_notDetermined}}
	{{/memTotal}}
</div>

<div class="clearfix"></div>

{{#swapWarning}}
<div>
	<b>{{lang_attention}}</b> {{lang_swapWarning}}
</div>
{{/swapWarning}}

<script type="text/javascript">
	{{#cpuLoadOk}}
	Circles.create({
	id:         'circles-cpuload',
			  radius:     60,
			  value:      {{{cpuLoad}}},
			  maxValue:   100,
			  width:      10,
			  text:       function(value){return value + '%'; },
			  colors:     ['#dbc', '#33f'],
			  duration:   400,
			  wrpClass:   'circles-wrp',
			  textClass:  'circles-text'
			  });
	{{/cpuLoadOk}}
	{{#memTotal}}
	Circles.create({
	id:         'circles-mem',
			  radius:     60,
			  value:      {{{memPercent}}},
			  maxValue:   100,
			  width:      10,
			  text:       function(value){return value + '%'; },
			  colors:     ['#dbc', '#33f'],
			  duration:   400,
			  wrpClass:   'circles-wrp',
			  textClass:  'circles-text'
			  });
	Circles.create({
	id:         'circles-swap',
			  radius:     60,
			  value:      {{{swapPercent}}},
			  maxValue:   100,
			  width:      10,
			  text:       function(value){return value + '%'; },
			  colors:     ['#dbc', '#f33'],
			  duration:   400,
			  wrpClass:   'circles-wrp',
			  textClass:  'circles-text'
			  });
	{{/memTotal}}
</script>
