<h1>{{lang_backupRestore}}</h1>

<form action="?do=Backup" method="post" onsubmit="$('#b-btn').prop('disabled', true).find('span').removeClass('glyphicon-save').addClass('glyphicon-refresh slx-rotation')">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="backup">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_backup}}</div>
		<div class="panel-body {{perms.create.disabled}}">
			<p>{{lang_backupDescription}}</p>
			<p class="text-right">
				{{lang_lastBackup}}:
				{{^last_backup}}{{lang_unknown}}{{/last_backup}}
				{{last_backup}}
			</p>
			<button id="b-btn" {{perms.create.disabled}} class="btn btn-primary pull-right" type="submit">
				<span class="glyphicon glyphicon-save"></span> {{lang_download}}
			</button>
		</div>
	</div>
</form>

<form action="?do=Backup" method="post" enctype="multipart/form-data">
	<input type="hidden" name="token" value="{{token}}">
	<input type="hidden" name="action" value="restore">
	<div class="panel panel-default">
		<div class="panel-heading">{{lang_restore}}</div>
		<div class="panel-body {{perms.restore.disabled}}">
			<p>{{lang_restoreDescription}}</p>
			<div class="input-group upload-ex">
				<input type="text" class="form-control" readonly placeholder="{{lang_selectFile}}">
				<span class="input-group-btn">
					<span class="btn btn-default btn-file">
						{{lang_browseForFile}}&hellip; <input type="file" name="backupfile" {{perms.restore.disabled}}>
					</span>
				</span>
			</div>
			<div>
				<div class="checkbox">
					<input type="checkbox" name="restore_openslx" checked="checked" id="id-sysonfig">
					<label for="id-sysonfig"><b>{{lang_restoreSystemConfig}}</b></label>
				</div>
				<p><i>{{lang_systemExplanation}}</i></p>
			</div>
			<div>
				<div class="checkbox">
					<input type="checkbox" name="restore_dozmod" checked="checked" id="id-dozmod">
					<label for="id-dozmod"><b>{{lang_restoreDozmodConfig}}</b></label>
				</div>
				<p><i>{{lang_dozmodExplanation}}</i></p>
			</div>
			<button {{perms.restore.disabled}} class="btn btn-primary pull-right" type="submit"><span class="glyphicon glyphicon-open"></span> {{lang_restore}}</button>
		</div>
	</div>
</form>